openapi: 3.2.0
info:
  title: AppyWay Availability RealTime ActivityTypes Payment Providers API
  version: '1.0'
  description: AppyWay Availability RealTime API allows businesses to access real-time data on parking availability, traffic congestion, and road closure information. This API provides up-to-the-minute updates on parking spots, helping users find and reserve parking spaces quickly and easily. By providing this information in real-time, businesses can improve customer satisfaction and reduce the frustration of searching for parking. Additionally, the API helps businesses optimize their operations by providing detailed information on traffic conditions and road closures, allowing for more efficient route planning and delivery scheduling. Overall, the AppyWay Availability RealTime API is a valuable tool for businesses looking to streamline their operations and improve the customer experience.
servers:
- url: https://api.appyway.com/v1/availability-realtime
security:
- apiKey: []
- oAuth2: []
tags:
- name: PaymentProviders
paths:
  /fetchAllPaymentProviders:
    post:
      tags:
      - PaymentProviders
      summary: AppyWay Fetch All Payment Providers
      description: Returns a list with all the supported payment providers.
      operationId: post-fetchallpaymentproviders
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentProviderIReadOnlyCollectionOkResponse'
              example:
                success: true
                result:
                - id: string
                  name: string
                  paymentsUrl: string
                  paymentsTelephone: string
                  paymentsAppDeepLinks: {}
        '304':
          description: Not Modified
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
components:
  responses:
    TooManyRequests:
      description: Too many requests
    Forbidden:
      description: Forbidden
    Unauthorized:
      description: Unauthorized
  schemas:
    PaymentProvider:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier
          format: uuid
        name:
          type:
          - string
          - 'null'
          description: Provider name
        paymentsUrl:
          type:
          - string
          - 'null'
          description: URL for taking payments (if online payments are supported)
        paymentsTelephone:
          type:
          - string
          - 'null'
          description: Phone number for taking payments (if pay-by-phone is supported)
        paymentsAppDeepLinks:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/PaymentDeepLinks'
          description: Payment Mobile apps deep links by platform
      additionalProperties: false
      description: Indicates the payment provider that you can use to pay for an stay at a Parking Entity
    PaymentDeepLinks:
      type: object
      properties:
        schemas:
          type:
          - array
          - 'null'
          items:
            type: string
          description: 'Deep link schemas (eg: ringgo://, etc)'
        packageName:
          type:
          - string
          - 'null'
          description: 'Deep link package name (only applies to android, eg: co.uk.ringgo.android)'
      additionalProperties: false
    PaymentProviderIReadOnlyCollectionOkResponse:
      type: object
      properties:
        success:
          type: boolean
          readOnly: true
        result:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/PaymentProvider'
      additionalProperties: false
  securitySchemes:
    apiKey:
      name: API-KEY
      in: header
      type: apiKey
    oAuth2:
      flows:
        authorizationCode:
          scopes: {}
          authorizationUrl: https://auth.appyway.com/authorize
          tokenUrl: https://auth.appyway.com/oauth/token
      type: oauth2
