openapi: 3.0.1
info:
  title: AppyWay Traffic Data API
  version: '1.0'
  description: >-
    The AppyWay Traffic Data API provides real-time and historical traffic data
    for developers to integrate into their applications. This data includes
    information on traffic congestion, accidents, road closures, and other key
    events that can impact a driver's journey. By utilizing this API, developers
    can provide their users with up-to-date traffic information, optimize routes
    for more efficient travel, and enhance overall road safety. With AppyWay's
    Traffic Data API, users can enjoy a smoother and more seamless driving
    experience, ultimately saving time and reducing stress on the road.
servers:
  - url: https://api.appyway.com/v1/traffic-data
paths:
  /authorities/getAll:
    get:
      tags:
        - Authorities
      summary: >-
        Gets the basic authority information for all authorities that you are
        entitled to access
      description: >-
        Gets the basic authority information for all authorities that you are
        entitled to access
      operationId: get-authorities-getall
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AuthorityListResult'
              examples:
                default:
                  value: null
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorityListResult'
              example:
                success: true
                data:
                  - id: string
                    name: string
                    regionId: string
                    countryId: string
                    authoritySlugs:
                      - string
                    ordnanceSurvey:
                      apiKey: string
                      license: string
                    hasFreeParkingOutsideZone: true
                    timeZoneId: string
                    privacyPolicyUrl: string
                    paymentProviderId: string
                    centroid:
                      latitude: 0
                      longitude: 0
                    boundingBox:
                      topLeft:
                        latitude: 0
                        longitude: 0
                      bottomRight:
                        latitude: 0
                        longitude: 0
                    fallbackZoneId: string
                    notes:
                      - noteVisibilityTypeId: 0
                        appliesToRestrictionTypeIds:
                          - 0
                        priority: 0
                        title: string
                        message: string
                        url: string
                        telephone: string
                    tags:
                      - string
                    authorityType: 0
                    legalName: string
                    capabilities:
                      allowIsPubliclyViewable: true
                      allowChargePointRequests: true
                      isVisibleOnPublicConsultation: true
                      enableSessionRecordingInternal: true
                      enableSessionRecordingPublic: true
                      inMaintenanceMode: true
                      enableAssets: true
                    capabilitiesState:
                      isStaticPubliclyViewable: true
                      isMovingPubliclyViewable: true
                      isOffStreetPubliclyViewable: true
                      acceptChargePointRequests: true
                      hideTariffsOnMapSchedules: true
                      hideTariffsOnStreets: true
                      hideRestrictedSpeedLimitsOnStreets: true
                    highwayAuthority: string
                    dataQuality: 1
                    lastTmoUpdate: string
                    reviewTerminalIds: true
            text/json:
              schema:
                $ref: '#/components/schemas/AuthorityListResult'
              example:
                success: true
                data:
                  - id: string
                    name: string
                    regionId: string
                    countryId: string
                    authoritySlugs:
                      - string
                    ordnanceSurvey:
                      apiKey: string
                      license: string
                    hasFreeParkingOutsideZone: true
                    timeZoneId: string
                    privacyPolicyUrl: string
                    paymentProviderId: string
                    centroid:
                      latitude: 0
                      longitude: 0
                    boundingBox:
                      topLeft:
                        latitude: 0
                        longitude: 0
                      bottomRight:
                        latitude: 0
                        longitude: 0
                    fallbackZoneId: string
                    notes:
                      - noteVisibilityTypeId: 0
                        appliesToRestrictionTypeIds:
                          - 0
                        priority: 0
                        title: string
                        message: string
                        url: string
                        telephone: string
                    tags:
                      - string
                    authorityType: 0
                    legalName: string
                    capabilities:
                      allowIsPubliclyViewable: true
                      allowChargePointRequests: true
                      isVisibleOnPublicConsultation: true
                      enableSessionRecordingInternal: true
                      enableSessionRecordingPublic: true
                      inMaintenanceMode: true
                      enableAssets: true
                    capabilitiesState:
                      isStaticPubliclyViewable: true
                      isMovingPubliclyViewable: true
                      isOffStreetPubliclyViewable: true
                      acceptChargePointRequests: true
                      hideTariffsOnMapSchedules: true
                      hideTariffsOnStreets: true
                      hideRestrictedSpeedLimitsOnStreets: true
                    highwayAuthority: string
                    dataQuality: 1
                    lastTmoUpdate: string
                    reviewTerminalIds: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /authorities/getFullBySlug:
    get:
      tags:
        - Authorities
      summary: Get Full Authority By Slug
      description: >-
        Returns an object which has the location of the documents containing the
        full restrictions of an authority <br /> 
                    The documentation provided here shows the model you will find at these locations. The initial object contains only the URL's. <br />
                    You will have to fetch the documents from the returned authority URL's
      operationId: get-authorities-getfullbyslug
      parameters:
        - name: slug
          in: query
          description: >-
            The name of the authority. You can find this by making a request to
            the getAll endpoint
          schema:
            type: string
        - name: maxDate
          in: query
          description: >-
            Format - date-time (as date-time in RFC3339). The date at which you
            wish to view the restrictions
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AuthoritySnapshotInfoDocResult'
              examples:
                default:
                  value: null
            application/json:
              schema:
                $ref: '#/components/schemas/AuthoritySnapshotInfoDocResult'
              example:
                success: true
                data:
                  ospsUrl:
                    - type: string
                      features:
                        - type: string
                          id: string
                          geometry:
                            type: string
                            crs:
                              type: string
                              properties:
                                name: string
                          properties:
                            onStreetParkingId: string
                            zoneId: string
                            authorityId: string
                            address:
                              street: string
                              postcode: string
                              city: string
                              country: string
                            length: 0
                            bays: 0
                            restrictionTypeDetails:
                              - restrictionTypeId: 0
                                operatingHoursSets:
                                  - setGuid: string
                                    setId: string
                                    parkingEntitlementTypeIds:
                                      - 0
                                exceptionsSet:
                                  setGuid: string
                                  setId: string
                                locationNumber: string
                                terminalIds:
                                  - string
                                exemptionsSet:
                                  setGuid: string
                                  setId: string
                                tariffsSet:
                                  - setGuid: string
                                    setId: string
                                    parkingEntitlementTypeIds:
                                      - 0
                            notes:
                              - noteVisibilityTypeId: 0
                                appliesToRestrictionTypeIds:
                                  - 0
                                priority: 0
                                title: string
                                message: string
                                url: string
                                telephone: string
                            electricPoint:
                              manufacturer: string
                              manufacturerContactNumber: string
                              chargeFee: string
                              website: string
                              electricConnections:
                                - type: 0
                                  name: string
                                  description: string
                                  quantity: 0
                            venueId: string
                            sourceTag: string
                            sensorIds:
                              - string
                            centroid:
                              latitude: 0
                              longitude: 0
                            tags:
                              - string
                            linkedOspIds:
                              - string
                      properties: {}
                  zonesUrl:
                    type: string
                    features:
                      - type: string
                        id: string
                        geometry:
                          type: string
                          crs:
                            type: string
                            properties:
                              name: string
                          coordinates:
                            - - - 0
                        properties:
                          zoneId: string
                          authorityId: string
                          parentZoneId: string
                          type: 1
                          name: string
                          restrictionTypeDetails:
                            - restrictionTypeId: 0
                              operatingHoursSets:
                                - setGuid: string
                                  setId: string
                                  parkingEntitlementTypeIds:
                                    - 0
                              exceptionsSet:
                                setGuid: string
                                setId: string
                          notes:
                            - noteVisibilityTypeId: 0
                              appliesToRestrictionTypeIds:
                                - 0
                              priority: 0
                              title: string
                              message: string
                              url: string
                              telephone: string
                          venueId: string
                          sourceTag: string
                          tags:
                            - string
                    properties: {}
                  setsUrl:
                    operatingHoursSets:
                      - guid: string
                        setId: string
                        name: string
                        formattedName: string
                        operatingHours:
                          standardDays:
                            - ruleTime:
                                months:
                                  - 0
                                days:
                                  - 0
                                weekNumbers:
                                  - 0
                                hours:
                                  - start: '2024-10-11'
                                    end: '2024-10-11'
                                firstDate:
                                  month: 0
                                  day: 0
                                lastDate:
                                  month: 0
                                  day: 0
                              parkingEntitlementTypeIds:
                                - 0
                              maxStay: 0
                              minStay: 0
                              noReturn: 0
                              noReturnUntil: '2024-10-11'
                          eventDays:
                            - ruleTime:
                                months:
                                  - 0
                                days:
                                  - 0
                                weekNumbers:
                                  - 0
                                hours:
                                  - start: '2024-10-11'
                                    end: '2024-10-11'
                                firstDate:
                                  month: 0
                                  day: 0
                                lastDate:
                                  month: 0
                                  day: 0
                              parkingEntitlementTypeIds:
                                - 0
                              maxStay: 0
                              minStay: 0
                              noReturn: 0
                              noReturnUntil: '2024-10-11'
                    exemptionsSets:
                      - guid: string
                        setId: string
                        name: string
                        formattedName: string
                        exemptions:
                          - exemptionTypeId: 0
                            parkingEntitlementTypeId: 0
                            exemptionTimeTypeId: 0
                            exemptionApplies: true
                            maxStay: 0
                            noReturn: 0
                    exceptionsSets:
                      - guid: string
                        setId: string
                        name: string
                        formattedName: string
                        exceptions:
                          allHolidaysRestrictionExceptionTypeId: 0
                          allHolidaysOperatingHours:
                            standardDays:
                              - ruleTime:
                                  months:
                                    - 0
                                  days:
                                    - 0
                                  weekNumbers:
                                    - 0
                                  hours:
                                    - start: '2024-10-11'
                                      end: '2024-10-11'
                                  firstDate:
                                    month: 0
                                    day: 0
                                  lastDate:
                                    month: 0
                                    day: 0
                                parkingEntitlementTypeIds:
                                  - 0
                                maxStay: 0
                                minStay: 0
                                noReturn: 0
                                noReturnUntil: '2024-10-11'
                            eventDays:
                              - ruleTime:
                                  months:
                                    - 0
                                  days:
                                    - 0
                                  weekNumbers:
                                    - 0
                                  hours:
                                    - start: '2024-10-11'
                                      end: '2024-10-11'
                                  firstDate:
                                    month: 0
                                    day: 0
                                  lastDate:
                                    month: 0
                                    day: 0
                                parkingEntitlementTypeIds:
                                  - 0
                                maxStay: 0
                                minStay: 0
                                noReturn: 0
                                noReturnUntil: '2024-10-11'
                          daySpecificRestrictionExceptions:
                            - publicHolidayOrNamedDayId: string
                              restrictionExceptionTypeId: 0
                              operatingHours:
                                standardDays:
                                  - ruleTime:
                                      months:
                                        - 0
                                      days:
                                        - 0
                                      weekNumbers:
                                        - 0
                                      hours:
                                        - start: '2024-10-11'
                                          end: '2024-10-11'
                                      firstDate:
                                        month: 0
                                        day: 0
                                      lastDate:
                                        month: 0
                                        day: 0
                                    parkingEntitlementTypeIds:
                                      - 0
                                    maxStay: 0
                                    minStay: 0
                                    noReturn: 0
                                    noReturnUntil: '2024-10-11'
                                eventDays:
                                  - ruleTime:
                                      months:
                                        - 0
                                      days:
                                        - 0
                                      weekNumbers:
                                        - 0
                                      hours:
                                        - start: '2024-10-11'
                                          end: '2024-10-11'
                                      firstDate:
                                        month: 0
                                        day: 0
                                      lastDate:
                                        month: 0
                                        day: 0
                                    parkingEntitlementTypeIds:
                                      - 0
                                    maxStay: 0
                                    minStay: 0
                                    noReturn: 0
                                    noReturnUntil: '2024-10-11'
                    tariffSets:
                      - guid: string
                        setId: string
                        name: string
                        formattedName: string
                        tariffs:
                          - setName: string
                            parkingEntitlementTypeIds:
                              - 0
                            details:
                              - price: 0
                                surchargeDetail:
                                  surchargeType: 0
                                  surchargeTypeEnum: 0
                                  value: 0
                                  notes: string
                                  ruleType: 0
                                emissionsAdjustments:
                                  emissionsBandSetId: string
                                  adjustments:
                                    - emissionsBandId: string
                                      amount: 0
                                      surchargeDetail:
                                        surchargeType: 0
                                        surchargeTypeEnum: 0
                                        value: 0
                                        notes: string
                                        ruleType: 0
                                duration: 0
                                minimumPriceIncrement: 0
                                singlePaymentCanCrossMidnight: true
                                from: 0
                                upTo: 0
                            timeFrom: '2024-10-11'
                            timeTo: '2024-10-11'
                            firstDate:
                              month: 0
                              day: 0
                            lastDate:
                              month: 0
                              day: 0
                            months:
                              - 0
                            days:
                              - 0
                            timeType: 0
                    emissionsBandSets:
                      - guid: string
                        setId: string
                        name: string
                        formattedName: string
                        emissionsBands:
                          - id: string
                            name: string
                            emissions:
                              min: 0
                              max: 0
                            fuelTypes:
                              - 1
                            registrationYears:
                              min: 0
                              max: 0
                    isEmpty: true
                  mtfsUrl:
                    type: string
                    features:
                      - geoType: string
                        featureId: string
                        featureType: 0
                        authorityId: string
                        note: string
                        streetName: string
                        guid: string
                    properties: {}
            text/json:
              schema:
                $ref: '#/components/schemas/AuthoritySnapshotInfoDocResult'
              example:
                success: true
                data:
                  ospsUrl:
                    - type: string
                      features:
                        - type: string
                          id: string
                          geometry:
                            type: string
                            crs:
                              type: string
                              properties:
                                name: string
                          properties:
                            onStreetParkingId: string
                            zoneId: string
                            authorityId: string
                            address:
                              street: string
                              postcode: string
                              city: string
                              country: string
                            length: 0
                            bays: 0
                            restrictionTypeDetails:
                              - restrictionTypeId: 0
                                operatingHoursSets:
                                  - setGuid: string
                                    setId: string
                                    parkingEntitlementTypeIds:
                                      - 0
                                exceptionsSet:
                                  setGuid: string
                                  setId: string
                                locationNumber: string
                                terminalIds:
                                  - string
                                exemptionsSet:
                                  setGuid: string
                                  setId: string
                                tariffsSet:
                                  - setGuid: string
                                    setId: string
                                    parkingEntitlementTypeIds:
                                      - 0
                            notes:
                              - noteVisibilityTypeId: 0
                                appliesToRestrictionTypeIds:
                                  - 0
                                priority: 0
                                title: string
                                message: string
                                url: string
                                telephone: string
                            electricPoint:
                              manufacturer: string
                              manufacturerContactNumber: string
                              chargeFee: string
                              website: string
                              electricConnections:
                                - type: 0
                                  name: string
                                  description: string
                                  quantity: 0
                            venueId: string
                            sourceTag: string
                            sensorIds:
                              - string
                            centroid:
                              latitude: 0
                              longitude: 0
                            tags:
                              - string
                            linkedOspIds:
                              - string
                      properties: {}
                  zonesUrl:
                    type: string
                    features:
                      - type: string
                        id: string
                        geometry:
                          type: string
                          crs:
                            type: string
                            properties:
                              name: string
                          coordinates:
                            - - - 0
                        properties:
                          zoneId: string
                          authorityId: string
                          parentZoneId: string
                          type: 1
                          name: string
                          restrictionTypeDetails:
                            - restrictionTypeId: 0
                              operatingHoursSets:
                                - setGuid: string
                                  setId: string
                                  parkingEntitlementTypeIds:
                                    - 0
                              exceptionsSet:
                                setGuid: string
                                setId: string
                          notes:
                            - noteVisibilityTypeId: 0
                              appliesToRestrictionTypeIds:
                                - 0
                              priority: 0
                              title: string
                              message: string
                              url: string
                              telephone: string
                          venueId: string
                          sourceTag: string
                          tags:
                            - string
                    properties: {}
                  setsUrl:
                    operatingHoursSets:
                      - guid: string
                        setId: string
                        name: string
                        formattedName: string
                        operatingHours:
                          standardDays:
                            - ruleTime:
                                months:
                                  - 0
                                days:
                                  - 0
                                weekNumbers:
                                  - 0
                                hours:
                                  - start: '2024-10-11'
                                    end: '2024-10-11'
                                firstDate:
                                  month: 0
                                  day: 0
                                lastDate:
                                  month: 0
                                  day: 0
                              parkingEntitlementTypeIds:
                                - 0
                              maxStay: 0
                              minStay: 0
                              noReturn: 0
                              noReturnUntil: '2024-10-11'
                          eventDays:
                            - ruleTime:
                                months:
                                  - 0
                                days:
                                  - 0
                                weekNumbers:
                                  - 0
                                hours:
                                  - start: '2024-10-11'
                                    end: '2024-10-11'
                                firstDate:
                                  month: 0
                                  day: 0
                                lastDate:
                                  month: 0
                                  day: 0
                              parkingEntitlementTypeIds:
                                - 0
                              maxStay: 0
                              minStay: 0
                              noReturn: 0
                              noReturnUntil: '2024-10-11'
                    exemptionsSets:
                      - guid: string
                        setId: string
                        name: string
                        formattedName: string
                        exemptions:
                          - exemptionTypeId: 0
                            parkingEntitlementTypeId: 0
                            exemptionTimeTypeId: 0
                            exemptionApplies: true
                            maxStay: 0
                            noReturn: 0
                    exceptionsSets:
                      - guid: string
                        setId: string
                        name: string
                        formattedName: string
                        exceptions:
                          allHolidaysRestrictionExceptionTypeId: 0
                          allHolidaysOperatingHours:
                            standardDays:
                              - ruleTime:
                                  months:
                                    - 0
                                  days:
                                    - 0
                                  weekNumbers:
                                    - 0
                                  hours:
                                    - start: '2024-10-11'
                                      end: '2024-10-11'
                                  firstDate:
                                    month: 0
                                    day: 0
                                  lastDate:
                                    month: 0
                                    day: 0
                                parkingEntitlementTypeIds:
                                  - 0
                                maxStay: 0
                                minStay: 0
                                noReturn: 0
                                noReturnUntil: '2024-10-11'
                            eventDays:
                              - ruleTime:
                                  months:
                                    - 0
                                  days:
                                    - 0
                                  weekNumbers:
                                    - 0
                                  hours:
                                    - start: '2024-10-11'
                                      end: '2024-10-11'
                                  firstDate:
                                    month: 0
                                    day: 0
                                  lastDate:
                                    month: 0
                                    day: 0
                                parkingEntitlementTypeIds:
                                  - 0
                                maxStay: 0
                                minStay: 0
                                noReturn: 0
                                noReturnUntil: '2024-10-11'
                          daySpecificRestrictionExceptions:
                            - publicHolidayOrNamedDayId: string
                              restrictionExceptionTypeId: 0
                              operatingHours:
                                standardDays:
                                  - ruleTime:
                                      months:
                                        - 0
                                      days:
                                        - 0
                                      weekNumbers:
                                        - 0
                                      hours:
                                        - start: '2024-10-11'
                                          end: '2024-10-11'
                                      firstDate:
                                        month: 0
                                        day: 0
                                      lastDate:
                                        month: 0
                                        day: 0
                                    parkingEntitlementTypeIds:
                                      - 0
                                    maxStay: 0
                                    minStay: 0
                                    noReturn: 0
                                    noReturnUntil: '2024-10-11'
                                eventDays:
                                  - ruleTime:
                                      months:
                                        - 0
                                      days:
                                        - 0
                                      weekNumbers:
                                        - 0
                                      hours:
                                        - start: '2024-10-11'
                                          end: '2024-10-11'
                                      firstDate:
                                        month: 0
                                        day: 0
                                      lastDate:
                                        month: 0
                                        day: 0
                                    parkingEntitlementTypeIds:
                                      - 0
                                    maxStay: 0
                                    minStay: 0
                                    noReturn: 0
                                    noReturnUntil: '2024-10-11'
                    tariffSets:
                      - guid: string
                        setId: string
                        name: string
                        formattedName: string
                        tariffs:
                          - setName: string
                            parkingEntitlementTypeIds:
                              - 0
                            details:
                              - price: 0
                                surchargeDetail:
                                  surchargeType: 0
                                  surchargeTypeEnum: 0
                                  value: 0
                                  notes: string
                                  ruleType: 0
                                emissionsAdjustments:
                                  emissionsBandSetId: string
                                  adjustments:
                                    - emissionsBandId: string
                                      amount: 0
                                      surchargeDetail:
                                        surchargeType: 0
                                        surchargeTypeEnum: 0
                                        value: 0
                                        notes: string
                                        ruleType: 0
                                duration: 0
                                minimumPriceIncrement: 0
                                singlePaymentCanCrossMidnight: true
                                from: 0
                                upTo: 0
                            timeFrom: '2024-10-11'
                            timeTo: '2024-10-11'
                            firstDate:
                              month: 0
                              day: 0
                            lastDate:
                              month: 0
                              day: 0
                            months:
                              - 0
                            days:
                              - 0
                            timeType: 0
                    emissionsBandSets:
                      - guid: string
                        setId: string
                        name: string
                        formattedName: string
                        emissionsBands:
                          - id: string
                            name: string
                            emissions:
                              min: 0
                              max: 0
                            fuelTypes:
                              - 1
                            registrationYears:
                              min: 0
                              max: 0
                    isEmpty: true
                  mtfsUrl:
                    type: string
                    features:
                      - geoType: string
                        featureId: string
                        featureType: 0
                        authorityId: string
                        note: string
                        streetName: string
                        guid: string
                    properties: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /exportAuthorityMovingRestrictionsById/{authorityId}.geojson:
    get:
      tags:
        - GIS
      summary: Export Authority moving Restrictions as GeoJSON by ID
      description: Returns a GeoJSON containing the moving restrictions of an authority.
      operationId: get-exportauthoritymovingrestrictionsbyid-authorityid-geojson
      parameters:
        - name: authorityId
          in: path
          description: Format - uuid. The ID of the authority.
          required: true
          schema:
            type: string
            format: uuid
        - name: restrictions
          in: query
          description: >-
            The set of moving restriction IDs. If left empty will export all
            allowed restrictions
          schema:
            uniqueItems: true
            type: array
            items:
              type: integer
              format: int32
      responses:
        '200':
          description: Success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /exportAuthorityRestrictionsById/{authorityId}.geojson:
    get:
      tags:
        - GIS
      summary: Export Authority static Restrictions as GeoJSON by ID
      description: Returns a GeoJSON containing the restrictions of an authority. <br />
      operationId: get-exportauthorityrestrictionsbyid-authorityid-geojson
      parameters:
        - name: authorityId
          in: path
          description: Format - uuid. The ID of the authority.
          required: true
          schema:
            type: string
            format: uuid
        - name: restrictions
          in: query
          description: >-
            The set of static restriction IDs. If left empty will export all
            allowed restrictions
          schema:
            uniqueItems: true
            type: array
            items:
              type: integer
              format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GeoJsonExportStreamResultOkResponse'
              examples:
                default:
                  value: null
            application/json:
              schema:
                $ref: '#/components/schemas/GeoJsonExportStreamResultOkResponse'
              example:
                success: true
                result:
                  content:
                    canRead: true
                    canWrite: true
                    canSeek: true
                    canTimeout: true
                    length: 0
                    position: 0
                    readTimeout: 0
                    writeTimeout: 0
                  gZipped: true
            text/json:
              schema:
                $ref: '#/components/schemas/GeoJsonExportStreamResultOkResponse'
              example:
                success: true
                result:
                  content:
                    canRead: true
                    canWrite: true
                    canSeek: true
                    canTimeout: true
                    length: 0
                    position: 0
                    readTimeout: 0
                    writeTimeout: 0
                  gZipped: true
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              examples:
                default:
                  value: null
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              example:
                success: true
                message: string
                errors:
                  - property: string
                    code: string
                    message: string
            text/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              example:
                success: true
                message: string
                errors:
                  - property: string
                    code: string
                    message: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /exportAuthorityRestrictionsBySlug/{slug}.geojson:
    get:
      tags:
        - GIS
      summary: Export Authority static Restrictions as GeoJSON by a given slug.
      description: Returns a GeoJSON containing the moving restrictions of an authority.
      operationId: get-exportauthorityrestrictionsbyslug-slug-geojson
      parameters:
        - name: slug
          in: path
          description: The slug used to identify the authority eg. hackney
          required: true
          schema:
            type: string
        - name: restrictions
          in: query
          description: >-
            The set of static restriction IDs. If left empty will export all
            allowed restrictions
          schema:
            uniqueItems: true
            type: array
            items:
              type: integer
              format: int32
      responses:
        '200':
          description: Success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /fetchAllAuthorities:
    post:
      tags:
        - Authorities
      summary: >-
        Fetch basic authority information for all authorities that you are
        entitled to access
      description: >-
        Fetch basic authority information for all authorities that you are
        entitled to access
      operationId: post-fetchallauthorities
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AuthorityIReadOnlyCollectionOkResponse'
              examples:
                default:
                  value: null
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorityIReadOnlyCollectionOkResponse'
              example:
                success: true
                result:
                  - id: string
                    name: string
                    regionId: string
                    countryId: string
                    authoritySlugs:
                      - string
                    ordnanceSurvey:
                      apiKey: string
                      license: string
                    hasFreeParkingOutsideZone: true
                    timeZoneId: string
                    privacyPolicyUrl: string
                    paymentProviderId: string
                    centroid:
                      latitude: 0
                      longitude: 0
                    boundingBox:
                      topLeft:
                        latitude: 0
                        longitude: 0
                      bottomRight:
                        latitude: 0
                        longitude: 0
                    fallbackZoneId: string
                    notes:
                      - noteVisibilityTypeId: 0
                        appliesToRestrictionTypeIds:
                          - 0
                        priority: 0
                        title: string
                        message: string
                        url: string
                        telephone: string
                    tags:
                      - string
                    authorityType: 0
                    legalName: string
                    capabilities:
                      allowIsPubliclyViewable: true
                      allowChargePointRequests: true
                      isVisibleOnPublicConsultation: true
                      enableSessionRecordingInternal: true
                      enableSessionRecordingPublic: true
                      inMaintenanceMode: true
                      enableAssets: true
                    capabilitiesState:
                      isStaticPubliclyViewable: true
                      isMovingPubliclyViewable: true
                      isOffStreetPubliclyViewable: true
                      acceptChargePointRequests: true
                      hideTariffsOnMapSchedules: true
                      hideTariffsOnStreets: true
                      hideRestrictedSpeedLimitsOnStreets: true
                    highwayAuthority: string
                    dataQuality: 1
                    lastTmoUpdate: string
                    reviewTerminalIds: true
            text/json:
              schema:
                $ref: '#/components/schemas/AuthorityIReadOnlyCollectionOkResponse'
              example:
                success: true
                result:
                  - id: string
                    name: string
                    regionId: string
                    countryId: string
                    authoritySlugs:
                      - string
                    ordnanceSurvey:
                      apiKey: string
                      license: string
                    hasFreeParkingOutsideZone: true
                    timeZoneId: string
                    privacyPolicyUrl: string
                    paymentProviderId: string
                    centroid:
                      latitude: 0
                      longitude: 0
                    boundingBox:
                      topLeft:
                        latitude: 0
                        longitude: 0
                      bottomRight:
                        latitude: 0
                        longitude: 0
                    fallbackZoneId: string
                    notes:
                      - noteVisibilityTypeId: 0
                        appliesToRestrictionTypeIds:
                          - 0
                        priority: 0
                        title: string
                        message: string
                        url: string
                        telephone: string
                    tags:
                      - string
                    authorityType: 0
                    legalName: string
                    capabilities:
                      allowIsPubliclyViewable: true
                      allowChargePointRequests: true
                      isVisibleOnPublicConsultation: true
                      enableSessionRecordingInternal: true
                      enableSessionRecordingPublic: true
                      inMaintenanceMode: true
                      enableAssets: true
                    capabilitiesState:
                      isStaticPubliclyViewable: true
                      isMovingPubliclyViewable: true
                      isOffStreetPubliclyViewable: true
                      acceptChargePointRequests: true
                      hideTariffsOnMapSchedules: true
                      hideTariffsOnStreets: true
                      hideRestrictedSpeedLimitsOnStreets: true
                    highwayAuthority: string
                    dataQuality: 1
                    lastTmoUpdate: string
                    reviewTerminalIds: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /fetchFullAuthorityBySlug:
    post:
      tags:
        - Authorities
      summary: Fetch the basic authority information by slug
      description: Returns the the basic authority information by slug (authority name)
      operationId: post-fetchfullauthoritybyslug
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/FetchFullAuthorityBySlugQuery'
            example:
              slug: string
          application/json:
            schema:
              $ref: '#/components/schemas/FetchFullAuthorityBySlugQuery'
            example:
              slug: string
          text/json:
            schema:
              $ref: '#/components/schemas/FetchFullAuthorityBySlugQuery'
            example:
              slug: string
          application/*+json:
            schema:
              $ref: '#/components/schemas/FetchFullAuthorityBySlugQuery'
            example:
              slug: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FullAuthorityOkResponse'
              examples:
                default:
                  value: null
            application/json:
              schema:
                $ref: '#/components/schemas/FullAuthorityOkResponse'
              example:
                success: true
                result:
                  id: string
                  name: string
                  regionId: string
                  countryId: string
                  authoritySlugs:
                    - string
                  ordnanceSurvey:
                    apiKey: string
                    license: string
                  hasFreeParkingOutsideZone: true
                  timeZoneId: string
                  privacyPolicyUrl: string
                  paymentProviderId: string
                  centroid:
                    latitude: 0
                    longitude: 0
                  boundingBox:
                    topLeft:
                      latitude: 0
                      longitude: 0
                    bottomRight:
                      latitude: 0
                      longitude: 0
                  fallbackZoneId: string
                  notes:
                    - noteVisibilityTypeId: 0
                      appliesToRestrictionTypeIds:
                        - 0
                      priority: 0
                      title: string
                      message: string
                      url: string
                      telephone: string
                  tags:
                    - string
                  authorityType: 0
                  legalName: string
                  capabilities:
                    allowIsPubliclyViewable: true
                    allowChargePointRequests: true
                    isVisibleOnPublicConsultation: true
                    enableSessionRecordingInternal: true
                    enableSessionRecordingPublic: true
                    inMaintenanceMode: true
                    enableAssets: true
                  capabilitiesState:
                    isStaticPubliclyViewable: true
                    isMovingPubliclyViewable: true
                    isOffStreetPubliclyViewable: true
                    acceptChargePointRequests: true
                    hideTariffsOnMapSchedules: true
                    hideTariffsOnStreets: true
                    hideRestrictedSpeedLimitsOnStreets: true
                  highwayAuthority: string
                  dataQuality: 1
                  lastTmoUpdate: string
                  reviewTerminalIds: true
                  shape:
                    type: string
                    crs:
                      type: string
                      properties:
                        name: string
                    coordinates:
                      - - - 0
            text/json:
              schema:
                $ref: '#/components/schemas/FullAuthorityOkResponse'
              example:
                success: true
                result:
                  id: string
                  name: string
                  regionId: string
                  countryId: string
                  authoritySlugs:
                    - string
                  ordnanceSurvey:
                    apiKey: string
                    license: string
                  hasFreeParkingOutsideZone: true
                  timeZoneId: string
                  privacyPolicyUrl: string
                  paymentProviderId: string
                  centroid:
                    latitude: 0
                    longitude: 0
                  boundingBox:
                    topLeft:
                      latitude: 0
                      longitude: 0
                    bottomRight:
                      latitude: 0
                      longitude: 0
                  fallbackZoneId: string
                  notes:
                    - noteVisibilityTypeId: 0
                      appliesToRestrictionTypeIds:
                        - 0
                      priority: 0
                      title: string
                      message: string
                      url: string
                      telephone: string
                  tags:
                    - string
                  authorityType: 0
                  legalName: string
                  capabilities:
                    allowIsPubliclyViewable: true
                    allowChargePointRequests: true
                    isVisibleOnPublicConsultation: true
                    enableSessionRecordingInternal: true
                    enableSessionRecordingPublic: true
                    inMaintenanceMode: true
                    enableAssets: true
                  capabilitiesState:
                    isStaticPubliclyViewable: true
                    isMovingPubliclyViewable: true
                    isOffStreetPubliclyViewable: true
                    acceptChargePointRequests: true
                    hideTariffsOnMapSchedules: true
                    hideTariffsOnStreets: true
                    hideRestrictedSpeedLimitsOnStreets: true
                  highwayAuthority: string
                  dataQuality: 1
                  lastTmoUpdate: string
                  reviewTerminalIds: true
                  shape:
                    type: string
                    crs:
                      type: string
                      properties:
                        name: string
                    coordinates:
                      - - - 0
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              examples:
                default:
                  value: null
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              example:
                success: true
                message: string
                errors:
                  - property: string
                    code: string
                    message: string
            text/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              example:
                success: true
                message: string
                errors:
                  - property: string
                    code: string
                    message: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /fetchFullAuthorityInfoBySlug:
    post:
      tags:
        - Authorities
      summary: Fetch Full Authority By Slug
      description: >-
        Returns an object which has the location of the documents containing the
        full restrictions of an authority <br /> 
                    The documentation provided here shows the model you will find at these locations. The initial object contains only the URL's. <br />
                    You will have to fetch the documents from the returned authority URL's
      operationId: post-fetchfullauthorityinfobyslug
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/FetchFullAuthorityInfoBySlugQuery'
            example:
              slug: string
              maxDate: string
          application/json:
            schema:
              $ref: '#/components/schemas/FetchFullAuthorityInfoBySlugQuery'
            example:
              slug: string
              maxDate: string
          text/json:
            schema:
              $ref: '#/components/schemas/FetchFullAuthorityInfoBySlugQuery'
            example:
              slug: string
              maxDate: string
          application/*+json:
            schema:
              $ref: '#/components/schemas/FetchFullAuthorityInfoBySlugQuery'
            example:
              slug: string
              maxDate: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AuthoritySnapshotInfoDocOkResponse'
              examples:
                default:
                  value: null
            application/json:
              schema:
                $ref: '#/components/schemas/AuthoritySnapshotInfoDocOkResponse'
              example:
                success: true
                result:
                  ospsUrl:
                    - type: string
                      features:
                        - type: string
                          id: string
                          geometry:
                            type: string
                            crs:
                              type: string
                              properties:
                                name: string
                          properties:
                            onStreetParkingId: string
                            zoneId: string
                            authorityId: string
                            address:
                              street: string
                              postcode: string
                              city: string
                              country: string
                            length: 0
                            bays: 0
                            restrictionTypeDetails:
                              - restrictionTypeId: 0
                                operatingHoursSets:
                                  - setGuid: string
                                    setId: string
                                    parkingEntitlementTypeIds:
                                      - 0
                                exceptionsSet:
                                  setGuid: string
                                  setId: string
                                locationNumber: string
                                terminalIds:
                                  - string
                                exemptionsSet:
                                  setGuid: string
                                  setId: string
                                tariffsSet:
                                  - setGuid: string
                                    setId: string
                                    parkingEntitlementTypeIds:
                                      - 0
                            notes:
                              - noteVisibilityTypeId: 0
                                appliesToRestrictionTypeIds:
                                  - 0
                                priority: 0
                                title: string
                                message: string
                                url: string
                                telephone: string
                            electricPoint:
                              manufacturer: string
                              manufacturerContactNumber: string
                              chargeFee: string
                              website: string
                              electricConnections:
                                - type: 0
                                  name: string
                                  description: string
                                  quantity: 0
                            venueId: string
                            sourceTag: string
                            sensorIds:
                              - string
                            centroid:
                              latitude: 0
                              longitude: 0
                            tags:
                              - string
                            linkedOspIds:
                              - string
                      properties: {}
                  zonesUrl:
                    type: string
                    features:
                      - type: string
                        id: string
                        geometry:
                          type: string
                          crs:
                            type: string
                            properties:
                              name: string
                          coordinates:
                            - - - 0
                        properties:
                          zoneId: string
                          authorityId: string
                          parentZoneId: string
                          type: 1
                          name: string
                          restrictionTypeDetails:
                            - restrictionTypeId: 0
                              operatingHoursSets:
                                - setGuid: string
                                  setId: string
                                  parkingEntitlementTypeIds:
                                    - 0
                              exceptionsSet:
                                setGuid: string
                                setId: string
                          notes:
                            - noteVisibilityTypeId: 0
                              appliesToRestrictionTypeIds:
                                - 0
                              priority: 0
                              title: string
                              message: string
                              url: string
                              telephone: string
                          venueId: string
                          sourceTag: string
                          tags:
                            - string
                    properties: {}
                  setsUrl:
                    operatingHoursSets:
                      - guid: string
                        setId: string
                        name: string
                        formattedName: string
                        operatingHours:
                          standardDays:
                            - ruleTime:
                                months:
                                  - 0
                                days:
                                  - 0
                                weekNumbers:
                                  - 0
                                hours:
                                  - start: '2024-10-11'
                                    end: '2024-10-11'
                                firstDate:
                                  month: 0
                                  day: 0
                                lastDate:
                                  month: 0
                                  day: 0
                              parkingEntitlementTypeIds:
                                - 0
                              maxStay: 0
                              minStay: 0
                              noReturn: 0
                              noReturnUntil: '2024-10-11'
                          eventDays:
                            - ruleTime:
                                months:
                                  - 0
                                days:
                                  - 0
                                weekNumbers:
                                  - 0
                                hours:
                                  - start: '2024-10-11'
                                    end: '2024-10-11'
                                firstDate:
                                  month: 0
                                  day: 0
                                lastDate:
                                  month: 0
                                  day: 0
                              parkingEntitlementTypeIds:
                                - 0
                              maxStay: 0
                              minStay: 0
                              noReturn: 0
                              noReturnUntil: '2024-10-11'
                    exemptionsSets:
                      - guid: string
                        setId: string
                        name: string
                        formattedName: string
                        exemptions:
                          - exemptionTypeId: 0
                            parkingEntitlementTypeId: 0
                            exemptionTimeTypeId: 0
                            exemptionApplies: true
                            maxStay: 0
                            noReturn: 0
                    exceptionsSets:
                      - guid: string
                        setId: string
                        name: string
                        formattedName: string
                        exceptions:
                          allHolidaysRestrictionExceptionTypeId: 0
                          allHolidaysOperatingHours:
                            standardDays:
                              - ruleTime:
                                  months:
                                    - 0
                                  days:
                                    - 0
                                  weekNumbers:
                                    - 0
                                  hours:
                                    - start: '2024-10-11'
                                      end: '2024-10-11'
                                  firstDate:
                                    month: 0
                                    day: 0
                                  lastDate:
                                    month: 0
                                    day: 0
                                parkingEntitlementTypeIds:
                                  - 0
                                maxStay: 0
                                minStay: 0
                                noReturn: 0
                                noReturnUntil: '2024-10-11'
                            eventDays:
                              - ruleTime:
                                  months:
                                    - 0
                                  days:
                                    - 0
                                  weekNumbers:
                                    - 0
                                  hours:
                                    - start: '2024-10-11'
                                      end: '2024-10-11'
                                  firstDate:
                                    month: 0
                                    day: 0
                                  lastDate:
                                    month: 0
                                    day: 0
                                parkingEntitlementTypeIds:
                                  - 0
                                maxStay: 0
                                minStay: 0
                                noReturn: 0
                                noReturnUntil: '2024-10-11'
                          daySpecificRestrictionExceptions:
                            - publicHolidayOrNamedDayId: string
                              restrictionExceptionTypeId: 0
                              operatingHours:
                                standardDays:
                                  - ruleTime:
                                      months:
                                        - 0
                                      days:
                                        - 0
                                      weekNumbers:
                                        - 0
                                      hours:
                                        - start: '2024-10-11'
                                          end: '2024-10-11'
                                      firstDate:
                                        month: 0
                                        day: 0
                                      lastDate:
                                        month: 0
                                        day: 0
                                    parkingEntitlementTypeIds:
                                      - 0
                                    maxStay: 0
                                    minStay: 0
                                    noReturn: 0
                                    noReturnUntil: '2024-10-11'
                                eventDays:
                                  - ruleTime:
                                      months:
                                        - 0
                                      days:
                                        - 0
                                      weekNumbers:
                                        - 0
                                      hours:
                                        - start: '2024-10-11'
                                          end: '2024-10-11'
                                      firstDate:
                                        month: 0
                                        day: 0
                                      lastDate:
                                        month: 0
                                        day: 0
                                    parkingEntitlementTypeIds:
                                      - 0
                                    maxStay: 0
                                    minStay: 0
                                    noReturn: 0
                                    noReturnUntil: '2024-10-11'
                    tariffSets:
                      - guid: string
                        setId: string
                        name: string
                        formattedName: string
                        tariffs:
                          - setName: string
                            parkingEntitlementTypeIds:
                              - 0
                            details:
                              - price: 0
                                surchargeDetail:
                                  surchargeType: 0
                                  surchargeTypeEnum: 0
                                  value: 0
                                  notes: string
                                  ruleType: 0
                                emissionsAdjustments:
                                  emissionsBandSetId: string
                                  adjustments:
                                    - emissionsBandId: string
                                      amount: 0
                                      surchargeDetail:
                                        surchargeType: 0
                                        surchargeTypeEnum: 0
                                        value: 0
                                        notes: string
                                        ruleType: 0
                                duration: 0
                                minimumPriceIncrement: 0
                                singlePaymentCanCrossMidnight: true
                                from: 0
                                upTo: 0
                            timeFrom: '2024-10-11'
                            timeTo: '2024-10-11'
                            firstDate:
                              month: 0
                              day: 0
                            lastDate:
                              month: 0
                              day: 0
                            months:
                              - 0
                            days:
                              - 0
                            timeType: 0
                    emissionsBandSets:
                      - guid: string
                        setId: string
                        name: string
                        formattedName: string
                        emissionsBands:
                          - id: string
                            name: string
                            emissions:
                              min: 0
                              max: 0
                            fuelTypes:
                              - 1
                            registrationYears:
                              min: 0
                              max: 0
                    isEmpty: true
                  mtfsUrl:
                    type: string
                    features:
                      - geoType: string
                        featureId: string
                        featureType: 0
                        authorityId: string
                        note: string
                        streetName: string
                        guid: string
                    properties: {}
            text/json:
              schema:
                $ref: '#/components/schemas/AuthoritySnapshotInfoDocOkResponse'
              example:
                success: true
                result:
                  ospsUrl:
                    - type: string
                      features:
                        - type: string
                          id: string
                          geometry:
                            type: string
                            crs:
                              type: string
                              properties:
                                name: string
                          properties:
                            onStreetParkingId: string
                            zoneId: string
                            authorityId: string
                            address:
                              street: string
                              postcode: string
                              city: string
                              country: string
                            length: 0
                            bays: 0
                            restrictionTypeDetails:
                              - restrictionTypeId: 0
                                operatingHoursSets:
                                  - setGuid: string
                                    setId: string
                                    parkingEntitlementTypeIds:
                                      - 0
                                exceptionsSet:
                                  setGuid: string
                                  setId: string
                                locationNumber: string
                                terminalIds:
                                  - string
                                exemptionsSet:
                                  setGuid: string
                                  setId: string
                                tariffsSet:
                                  - setGuid: string
                                    setId: string
                                    parkingEntitlementTypeIds:
                                      - 0
                            notes:
                              - noteVisibilityTypeId: 0
                                appliesToRestrictionTypeIds:
                                  - 0
                                priority: 0
                                title: string
                                message: string
                                url: string
                                telephone: string
                            electricPoint:
                              manufacturer: string
                              manufacturerContactNumber: string
                              chargeFee: string
                              website: string
                              electricConnections:
                                - type: 0
                                  name: string
                                  description: string
                                  quantity: 0
                            venueId: string
                            sourceTag: string
                            sensorIds:
                              - string
                            centroid:
                              latitude: 0
                              longitude: 0
                            tags:
                              - string
                            linkedOspIds:
                              - string
                      properties: {}
                  zonesUrl:
                    type: string
                    features:
                      - type: string
                        id: string
                        geometry:
                          type: string
                          crs:
                            type: string
                            properties:
                              name: string
                          coordinates:
                            - - - 0
                        properties:
                          zoneId: string
                          authorityId: string
                          parentZoneId: string
                          type: 1
                          name: string
                          restrictionTypeDetails:
                            - restrictionTypeId: 0
                              operatingHoursSets:
                                - setGuid: string
                                  setId: string
                                  parkingEntitlementTypeIds:
                                    - 0
                              exceptionsSet:
                                setGuid: string
                                setId: string
                          notes:
                            - noteVisibilityTypeId: 0
                              appliesToRestrictionTypeIds:
                                - 0
                              priority: 0
                              title: string
                              message: string
                              url: string
                              telephone: string
                          venueId: string
                          sourceTag: string
                          tags:
                            - string
                    properties: {}
                  setsUrl:
                    operatingHoursSets:
                      - guid: string
                        setId: string
                        name: string
                        formattedName: string
                        operatingHours:
                          standardDays:
                            - ruleTime:
                                months:
                                  - 0
                                days:
                                  - 0
                                weekNumbers:
                                  - 0
                                hours:
                                  - start: '2024-10-11'
                                    end: '2024-10-11'
                                firstDate:
                                  month: 0
                                  day: 0
                                lastDate:
                                  month: 0
                                  day: 0
                              parkingEntitlementTypeIds:
                                - 0
                              maxStay: 0
                              minStay: 0
                              noReturn: 0
                              noReturnUntil: '2024-10-11'
                          eventDays:
                            - ruleTime:
                                months:
                                  - 0
                                days:
                                  - 0
                                weekNumbers:
                                  - 0
                                hours:
                                  - start: '2024-10-11'
                                    end: '2024-10-11'
                                firstDate:
                                  month: 0
                                  day: 0
                                lastDate:
                                  month: 0
                                  day: 0
                              parkingEntitlementTypeIds:
                                - 0
                              maxStay: 0
                              minStay: 0
                              noReturn: 0
                              noReturnUntil: '2024-10-11'
                    exemptionsSets:
                      - guid: string
                        setId: string
                        name: string
                        formattedName: string
                        exemptions:
                          - exemptionTypeId: 0
                            parkingEntitlementTypeId: 0
                            exemptionTimeTypeId: 0
                            exemptionApplies: true
                            maxStay: 0
                            noReturn: 0
                    exceptionsSets:
                      - guid: string
                        setId: string
                        name: string
                        formattedName: string
                        exceptions:
                          allHolidaysRestrictionExceptionTypeId: 0
                          allHolidaysOperatingHours:
                            standardDays:
                              - ruleTime:
                                  months:
                                    - 0
                                  days:
                                    - 0
                                  weekNumbers:
                                    - 0
                                  hours:
                                    - start: '2024-10-11'
                                      end: '2024-10-11'
                                  firstDate:
                                    month: 0
                                    day: 0
                                  lastDate:
                                    month: 0
                                    day: 0
                                parkingEntitlementTypeIds:
                                  - 0
                                maxStay: 0
                                minStay: 0
                                noReturn: 0
                                noReturnUntil: '2024-10-11'
                            eventDays:
                              - ruleTime:
                                  months:
                                    - 0
                                  days:
                                    - 0
                                  weekNumbers:
                                    - 0
                                  hours:
                                    - start: '2024-10-11'
                                      end: '2024-10-11'
                                  firstDate:
                                    month: 0
                                    day: 0
                                  lastDate:
                                    month: 0
                                    day: 0
                                parkingEntitlementTypeIds:
                                  - 0
                                maxStay: 0
                                minStay: 0
                                noReturn: 0
                                noReturnUntil: '2024-10-11'
                          daySpecificRestrictionExceptions:
                            - publicHolidayOrNamedDayId: string
                              restrictionExceptionTypeId: 0
                              operatingHours:
                                standardDays:
                                  - ruleTime:
                                      months:
                                        - 0
                                      days:
                                        - 0
                                      weekNumbers:
                                        - 0
                                      hours:
                                        - start: '2024-10-11'
                                          end: '2024-10-11'
                                      firstDate:
                                        month: 0
                                        day: 0
                                      lastDate:
                                        month: 0
                                        day: 0
                                    parkingEntitlementTypeIds:
                                      - 0
                                    maxStay: 0
                                    minStay: 0
                                    noReturn: 0
                                    noReturnUntil: '2024-10-11'
                                eventDays:
                                  - ruleTime:
                                      months:
                                        - 0
                                      days:
                                        - 0
                                      weekNumbers:
                                        - 0
                                      hours:
                                        - start: '2024-10-11'
                                          end: '2024-10-11'
                                      firstDate:
                                        month: 0
                                        day: 0
                                      lastDate:
                                        month: 0
                                        day: 0
                                    parkingEntitlementTypeIds:
                                      - 0
                                    maxStay: 0
                                    minStay: 0
                                    noReturn: 0
                                    noReturnUntil: '2024-10-11'
                    tariffSets:
                      - guid: string
                        setId: string
                        name: string
                        formattedName: string
                        tariffs:
                          - setName: string
                            parkingEntitlementTypeIds:
                              - 0
                            details:
                              - price: 0
                                surchargeDetail:
                                  surchargeType: 0
                                  surchargeTypeEnum: 0
                                  value: 0
                                  notes: string
                                  ruleType: 0
                                emissionsAdjustments:
                                  emissionsBandSetId: string
                                  adjustments:
                                    - emissionsBandId: string
                                      amount: 0
                                      surchargeDetail:
                                        surchargeType: 0
                                        surchargeTypeEnum: 0
                                        value: 0
                                        notes: string
                                        ruleType: 0
                                duration: 0
                                minimumPriceIncrement: 0
                                singlePaymentCanCrossMidnight: true
                                from: 0
                                upTo: 0
                            timeFrom: '2024-10-11'
                            timeTo: '2024-10-11'
                            firstDate:
                              month: 0
                              day: 0
                            lastDate:
                              month: 0
                              day: 0
                            months:
                              - 0
                            days:
                              - 0
                            timeType: 0
                    emissionsBandSets:
                      - guid: string
                        setId: string
                        name: string
                        formattedName: string
                        emissionsBands:
                          - id: string
                            name: string
                            emissions:
                              min: 0
                              max: 0
                            fuelTypes:
                              - 1
                            registrationYears:
                              min: 0
                              max: 0
                    isEmpty: true
                  mtfsUrl:
                    type: string
                    features:
                      - geoType: string
                        featureId: string
                        featureType: 0
                        authorityId: string
                        note: string
                        streetName: string
                        guid: string
                    properties: {}
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              examples:
                default:
                  value: null
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              example:
                success: true
                message: string
                errors:
                  - property: string
                    code: string
                    message: string
            text/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              example:
                success: true
                message: string
                errors:
                  - property: string
                    code: string
                    message: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /ping:
    get:
      tags:
        - Status
      summary: Ping
      description: Returns Status (pong) of the API service
      operationId: get-ping
      responses:
        '200':
          description: Success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /wfs:
    get:
      tags:
        - GIS
      summary: Executes a Web Feature Service (WFS) query.
      description: Executes a Web Feature Service (WFS) query.
      operationId: get-wfs
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/WfsStreamActionResultOkResponse'
              examples:
                default:
                  value: null
            application/json:
              schema:
                $ref: '#/components/schemas/WfsStreamActionResultOkResponse'
              example:
                success: true
                result: {}
            text/json:
              schema:
                $ref: '#/components/schemas/WfsStreamActionResultOkResponse'
              example:
                success: true
                result: {}
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              examples:
                default:
                  value: null
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              example:
                success: true
                message: string
                errors:
                  - property: string
                    code: string
                    message: string
            text/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              example:
                success: true
                message: string
                errors:
                  - property: string
                    code: string
                    message: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
components:
  schemas:
    Addition:
      type: object
      properties:
        id:
          type: string
          format: uuid
        changeSetId:
          type: string
          format: uuid
        entityType:
          $ref: '#/components/schemas/EntityType'
        date:
          type: string
          format: date-time
        updatedDate:
          type: string
          format: date-time
        inverseOf:
          type: string
          format: uuid
          nullable: true
        entity:
          description: Should be either a GeoJson Feature or a Set.
          nullable: true
        entityId:
          type: string
          format: uuid
        entityIds:
          type: array
          items:
            type: string
            format: uuid
          nullable: true
      additionalProperties: false
    Address:
      type: object
      properties:
        label:
          type: string
          nullable: true
        countryCode:
          type: string
          nullable: true
        countryName:
          type: string
          nullable: true
        state:
          type: string
          nullable: true
        county:
          type: string
          nullable: true
        city:
          type: string
          nullable: true
        district:
          type: string
          nullable: true
        street:
          type: string
          nullable: true
        houseNumber:
          type: string
          nullable: true
        postalCode:
          type: string
          nullable: true
      additionalProperties: false
    AddressCms:
      type: object
      properties:
        street:
          type: string
          nullable: true
        postcode:
          type: string
          nullable: true
        city:
          type: string
          nullable: true
        country:
          type: string
          nullable: true
      additionalProperties: false
    Authority:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          nullable: true
        regionId:
          type: string
          nullable: true
        countryId:
          type: string
          nullable: true
        authoritySlugs:
          type: array
          items:
            type: string
          nullable: true
        ordnanceSurvey:
          $ref: '#/components/schemas/OrdnanceSurvey'
        hasFreeParkingOutsideZone:
[...]
