openapi: 3.2.0
info:
  title: AppyWay Platform Payment Providers API
  version: '1.0'
  description: AppyWay Platform API allows developers to access a wide range of data related to parking, traffic, and mobility.
servers:
- url: https://api.appyway.com/v1/reference
security:
- apiKey: []
- oAuth2: []
tags:
- name: Payment Providers
paths:
  /fetchAllPaymentProviders:
    post:
      tags:
      - Payment Providers
      summary: AppyWay Fetch All Payment Providers
      description: Returns a list with all the supported payment providers.
      operationId: post-fetchallpaymentproviders
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentProviderIReadOnlyCollectionOkResponse'
              example:
                success: true
                result:
                - id: string
                  name: string
                  paymentsUrl: string
                  paymentsTelephone: string
                  paymentsAppDeepLinks: {}
        '304':
          description: Not Modified
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
components:
  schemas:
    PaymentDeepLinks:
      type: object
      properties:
        schemas:
          type:
          - array
          - 'null'
          items:
            type: string
          description: 'Deep link schemas (eg: ringgo://, etc)'
        packageName:
          type:
          - string
          - 'null'
          description: 'Deep link package name (only applies to android, eg: co.uk.ringgo.android)'
      additionalProperties: false
    PaymentProvider:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier
          format: uuid
        name:
          type:
          - string
          - 'null'
          description: Provider name
        paymentsUrl:
          type:
          - string
          - 'null'
          description: URL for taking payments (if online payments are supported)
        paymentsTelephone:
          type:
          - string
          - 'null'
          description: Phone number for taking payments (if pay-by-phone is supported)
        paymentsAppDeepLinks:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/PaymentDeepLinks'
          description: Payment Mobile apps deep links by platform
      additionalProperties: false
      description: Indicates the payment provider that you can use to pay for an stay at a Parking Entity
    PaymentProviderIReadOnlyCollectionOkResponse:
      type: object
      properties:
        success:
          type: boolean
          readOnly: true
        result:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/PaymentProvider'
      additionalProperties: false
  responses:
    TooManyRequests:
      description: Too many requests
    Forbidden:
      description: Forbidden
    Unauthorized:
      description: Unauthorized
  securitySchemes:
    apiKey:
      name: API-KEY
      in: header
      type: apiKey
    oAuth2:
      flows:
        authorizationCode:
          scopes: {}
          authorizationUrl: https://auth.appyway.com/authorize
          tokenUrl: https://auth.appyway.com/oauth/token
      type: oauth2
