openapi: 3.2.0
info:
  title: AppyWay Platform Entitlement Types API
  version: '1.0'
  description: AppyWay Platform API allows developers to access a wide range of data related to parking, traffic, and mobility.
servers:
- url: https://api.appyway.com/v1/reference
security:
- apiKey: []
- oAuth2: []
tags:
- name: EntitlementTypes
paths:
  /fetchAllEntitlementTypes:
    post:
      tags:
      - EntitlementTypes
      summary: AppyWay Fetch All Entitlement Types
      description: Returns a list with all the entitlement types.
      operationId: post-fetchallentitlementtypes
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntitlementTypeIReadOnlyCollectionOkResponse'
              example:
                success: true
                result:
                - id: 0
                  name: string
                  description: string
                  code: string
                  restrictionTypeIds:
                  - 0
                  applicableExemptionTypeIds:
                  - 0
                  hasTariff: true
                  restrictionTypeLegalNames:
                  - restrictionTypeId: 0
                    legalName: string
        '304':
          description: Not Modified
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
components:
  schemas:
    RestrictionTypeLegalName:
      type: object
      properties:
        restrictionTypeId:
          type: integer
          format: int32
        legalName:
          type:
          - string
          - 'null'
      additionalProperties: false
    EntitlementType:
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier
          format: int32
        name:
          type:
          - string
          - 'null'
          description: Name
        description:
          type:
          - string
          - 'null'
          description: Description
        code:
          type:
          - string
          - 'null'
          description: Shorthand code that represents this entitlement.
        restrictionTypeIds:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int32
          description: Indicates the restriction types that this entitlement can apply to
        applicableExemptionTypeIds:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int32
          description: Indicates the exemption types that can apply to this entitlement
        hasTariff:
          type: boolean
          description: Indicates whether this entitlement needs a tariff
        restrictionTypeLegalNames:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RestrictionTypeLegalName'
          description: Indicates the legal names of the restriction type that this entitlement can apply to
      additionalProperties: false
      description: Indicates the condition on which availability of an OSP depends
    EntitlementTypeIReadOnlyCollectionOkResponse:
      type: object
      properties:
        success:
          type: boolean
          readOnly: true
        result:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EntitlementType'
      additionalProperties: false
  responses:
    TooManyRequests:
      description: Too many requests
    Forbidden:
      description: Forbidden
    Unauthorized:
      description: Unauthorized
  securitySchemes:
    apiKey:
      name: API-KEY
      in: header
      type: apiKey
    oAuth2:
      flows:
        authorizationCode:
          scopes: {}
          authorizationUrl: https://auth.appyway.com/authorize
          tokenUrl: https://auth.appyway.com/oauth/token
      type: oauth2
