openapi: 3.2.0
info:
  title: Appyway Status API
  version: '1.0'
  description: 'Operations tagged Status across 4 of this provider''s published API definitions: appyway-availability-realtime-api-openapi.yml, appyway-explorer-api-openapi.yml, appyway-platform-api-openapi.yml, appyway-traffic-data-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.appyway.com/v1/availability-realtime
- url: https://api.appyway.com/v1/explorer
- url: https://api.appyway.com/v1/reference
- url: https://api.appyway.com/v1/traffic-data
security:
- apiKey: []
- oAuth2: []
tags:
- name: Status
paths:
  /ping:
    get:
      tags:
      - Status
      summary: AppyWay Ping
      description: Returns Status (pong) of the Availability Realtime service
      operationId: get-ping
      responses:
        '200':
          description: Success
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    servers:
    - url: https://api.appyway.com/v1/availability-realtime
components:
  responses:
    Forbidden:
      description: Forbidden
    Unauthorized:
      description: Unauthorized
    TooManyRequests:
      description: Too many requests
  schemas:
    StringOkResponse:
      type: object
      properties:
        success:
          type: boolean
          readOnly: true
        result:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    apiKey:
      name: API-KEY
      in: header
      type: apiKey
    oAuth2:
      flows:
        authorizationCode:
          scopes: {}
          authorizationUrl: https://auth.appyway.com/authorize
          tokenUrl: https://auth.appyway.com/oauth/token
      type: oauth2
x-refined-from:
- appyway-availability-realtime-api-openapi.yml
- appyway-explorer-api-openapi.yml
- appyway-platform-api-openapi.yml
- appyway-traffic-data-api-openapi.yml
