openapi: 3.2.0
info:
  title: AppyWay Platform Restriction Types API
  version: '1.0'
  description: AppyWay Platform API allows developers to access a wide range of data related to parking, traffic, and mobility.
servers:
- url: https://api.appyway.com/v1/reference
security:
- apiKey: []
- oAuth2: []
tags:
- name: RestrictionTypes
paths:
  /fetchAllRestrictionTypes:
    post:
      tags:
      - RestrictionTypes
      summary: AppyWay Fetch All Restriction Types
      description: Returns a list with all the restriction types.
      operationId: post-fetchallrestrictiontypes
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestrictionTypeIReadOnlyCollectionOkResponse'
              example:
                success: true
                result:
                - id: 0
                  name: string
                  description: string
                  code: string
                  canHaveNoLoadingRules: true
                  canHaveTariff: true
                  canHaveEmptyEntitlements: true
                  defaultWidth: 0
                  isTroItem: true
                  legalName: string
                  hasBayCount: true
        '304':
          description: Not Modified
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
components:
  responses:
    TooManyRequests:
      description: Too many requests
    Forbidden:
      description: Forbidden
    Unauthorized:
      description: Unauthorized
  schemas:
    RestrictionTypeIReadOnlyCollectionOkResponse:
      type: object
      properties:
        success:
          type: boolean
          readOnly: true
        result:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RestrictionType'
      additionalProperties: false
    RestrictionType:
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier
          format: int32
        name:
          type:
          - string
          - 'null'
          description: Name
        description:
          type:
          - string
          - 'null'
          description: Description
        code:
          type:
          - string
          - 'null'
          description: Shorthand code that represents this entitlement.
        canHaveNoLoadingRules:
          type: boolean
          description: Indicates whether there could be a loading rule attached to this restriction type
        canHaveTariff:
          type: boolean
          description: Indicates whether there could be a tariff attached to this restriction type
        canHaveEmptyEntitlements:
          type: boolean
          description: Indicates whether there could be empty entitlements attached to this restriction type
        defaultWidth:
          type: number
          description: Indicates the default width of this restriction type in meters.
          format: double
        isTroItem:
          type: boolean
          description: Indicates that this restriction type is classed as part of Traffic Regulation Orders.
        legalName:
          type:
          - string
          - 'null'
          description: The restriction type's alternative name used on legal traffic order documents.
        hasBayCount:
          type: boolean
      additionalProperties: false
  securitySchemes:
    apiKey:
      name: API-KEY
      in: header
      type: apiKey
    oAuth2:
      flows:
        authorizationCode:
          scopes: {}
          authorizationUrl: https://auth.appyway.com/authorize
          tokenUrl: https://auth.appyway.com/oauth/token
      type: oauth2
