openapi: 3.2.0
info:
  title: AppyWay Platform Moving Restriction Types API
  version: '1.0'
  description: AppyWay Platform API allows developers to access a wide range of data related to parking, traffic, and mobility.
servers:
- url: https://api.appyway.com/v1/reference
security:
- apiKey: []
- oAuth2: []
tags:
- name: MovingRestrictionTypes
paths:
  /fetchAllMovingRestrictionTypes:
    post:
      tags:
      - MovingRestrictionTypes
      summary: AppyWay Fetch All Moving Restriction Types
      description: Returns a list with all the moving restriction types.
      operationId: post-fetchallmovingrestrictiontypes
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MovingRestrictionTypeIReadOnlyCollectionOkResponse'
              example:
                success: true
                result:
                - id: 0
                  name: string
                  description: string
                  property: string
                  unit: string
                  options:
                  - id: 0
                    name: string
                    value: 0
        '304':
          description: Not Modified
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
components:
  responses:
    TooManyRequests:
      description: Too many requests
    Forbidden:
      description: Forbidden
    Unauthorized:
      description: Unauthorized
  schemas:
    MovingRestrictionTypeOption:
      type: object
      properties:
        id:
          type: integer
          format: int32
        name:
          type:
          - string
          - 'null'
        value:
          type: integer
          format: int32
      additionalProperties: false
    MovingRestrictionType:
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier
          format: int32
        name:
          type:
          - string
          - 'null'
          description: Name
        description:
          type:
          - string
          - 'null'
          description: Description
        property:
          type:
          - string
          - 'null'
          description: Property
        unit:
          type:
          - string
          - 'null'
          description: Unit
        options:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MovingRestrictionTypeOption'
          description: Options
      additionalProperties: false
    MovingRestrictionTypeIReadOnlyCollectionOkResponse:
      type: object
      properties:
        success:
          type: boolean
          readOnly: true
        result:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MovingRestrictionType'
      additionalProperties: false
  securitySchemes:
    apiKey:
      name: API-KEY
      in: header
      type: apiKey
    oAuth2:
      flows:
        authorizationCode:
          scopes: {}
          authorizationUrl: https://auth.appyway.com/authorize
          tokenUrl: https://auth.appyway.com/oauth/token
      type: oauth2
