openapi: 3.0.1
info:
  title: AppyWay Availability RealTime ActivityTypes Authorities API
  version: '1.0'
  description: AppyWay Availability RealTime API allows businesses to access real-time data on parking availability, traffic congestion, and road closure information. This API provides up-to-the-minute updates on parking spots, helping users find and reserve parking spaces quickly and easily. By providing this information in real-time, businesses can improve customer satisfaction and reduce the frustration of searching for parking. Additionally, the API helps businesses optimize their operations by providing detailed information on traffic conditions and road closures, allowing for more efficient route planning and delivery scheduling. Overall, the AppyWay Availability RealTime API is a valuable tool for businesses looking to streamline their operations and improve the customer experience.
servers:
- url: https://api.appyway.com/v1/availability-realtime
security:
- apiKey: []
- oAuth2: []
tags:
- name: Authorities
paths:
  /fetchAuthorityById:
    post:
      tags:
      - Authorities
      summary: AppyWay Fetch an authority by ID
      description: Returns a specific authority by its ID
      operationId: post-fetchauthoritybyid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FetchAuthorityByIdQuery'
            example:
              id: string
          text/json:
            schema:
              $ref: '#/components/schemas/FetchAuthorityByIdQuery'
            example:
              id: string
          application/*+json:
            schema:
              $ref: '#/components/schemas/FetchAuthorityByIdQuery'
            example:
              id: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorityOkResponse'
              example:
                success: true
                result:
                  entityId: string
                  name: string
                  eTag: string
                  notes:
                  - message: string
                  paymentProviders:
                  - id: string
                    name: string
                    cardPaymentsExternalUrl: string
                    paymentsTelephone: string
                    paymentsAppDeepLinks: {}
                  entityType: 1
                  countryId: string
                  geometry:
                    type: string
                    crs:
                      type: string
                      properties:
                        name: string
                    geometries:
                    - type: string
                      crs:
                        type: string
                        properties:
                          name: string
                  hasFreeParkingOutsideZone: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
              example:
                success: true
                message: string
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /findAuthorityIdsByViewport:
    post:
      tags:
      - Authorities
      summary: AppyWay Find authority ids by viewport
      description: Returns the Ids of authorities that are at least partially within the specified GeoJson viewport.
      operationId: post-findauthorityidsbyviewport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FindAuthorityIdsByViewportQuery'
            example:
              viewport:
                type: string
                crs:
                  type: string
                  properties:
                    name: string
                coordinates:
                - - - 0
          text/json:
            schema:
              $ref: '#/components/schemas/FindAuthorityIdsByViewportQuery'
            example:
              viewport:
                type: string
                crs:
                  type: string
                  properties:
                    name: string
                coordinates:
                - - - 0
          application/*+json:
            schema:
              $ref: '#/components/schemas/FindAuthorityIdsByViewportQuery'
            example:
              viewport:
                type: string
                crs:
                  type: string
                  properties:
                    name: string
                coordinates:
                - - - 0
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthoritySearchResponseOkResponse'
              example:
                success: true
                result:
                  authorities:
                  - entityId: string
                    countryId: string
                    entityETag: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              example:
                success: true
                message: string
                errors:
                - property: string
                  code: string
                  message: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /authorities/getAll:
    get:
      tags:
      - Authorities
      summary: AppyWay Gets the basic authority information for all authorities that you are entitled to access
      description: Gets the basic authority information for all authorities that you are entitled to access
      operationId: get-authorities-getall
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AuthorityListResult'
              examples:
                default:
                  value: null
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorityListResult'
              example:
                success: true
                data:
                - id: string
                  name: string
                  regionId: string
                  countryId: string
                  authoritySlugs:
                  - string
                  ordnanceSurvey:
                    apiKey: string
                    license: string
                  hasFreeParkingOutsideZone: true
                  timeZoneId: string
                  privacyPolicyUrl: string
                  paymentProviderId: string
                  centroid:
                    latitude: 0
                    longitude: 0
                  boundingBox:
                    topLeft:
                      latitude: 0
                      longitude: 0
                    bottomRight:
                      latitude: 0
                      longitude: 0
                  fallbackZoneId: string
                  notes:
                  - noteVisibilityTypeId: 0
                    appliesToRestrictionTypeIds:
                    - 0
                    priority: 0
                    title: string
                    message: string
                    url: string
                    telephone: string
                  tags:
                  - string
                  authorityType: 0
                  legalName: string
                  capabilities:
                    allowIsPubliclyViewable: true
                    allowChargePointRequests: true
                    isVisibleOnPublicConsultation: true
                    enableSessionRecordingInternal: true
                    enableSessionRecordingPublic: true
                    inMaintenanceMode: true
                    enableAssets: true
                  capabilitiesState:
                    isStaticPubliclyViewable: true
                    isMovingPubliclyViewable: true
                    isOffStreetPubliclyViewable: true
                    acceptChargePointRequests: true
                    hideTariffsOnMapSchedules: true
                    hideTariffsOnStreets: true
                    hideRestrictedSpeedLimitsOnStreets: true
                  highwayAuthority: string
                  dataQuality: 1
                  lastTmoUpdate: string
                  reviewTerminalIds: true
            text/json:
              schema:
                $ref: '#/components/schemas/AuthorityListResult'
              example:
                success: true
                data:
                - id: string
                  name: string
                  regionId: string
                  countryId: string
                  authoritySlugs:
                  - string
                  ordnanceSurvey:
                    apiKey: string
                    license: string
                  hasFreeParkingOutsideZone: true
                  timeZoneId: string
                  privacyPolicyUrl: string
                  paymentProviderId: string
                  centroid:
                    latitude: 0
                    longitude: 0
                  boundingBox:
                    topLeft:
                      latitude: 0
                      longitude: 0
                    bottomRight:
                      latitude: 0
                      longitude: 0
                  fallbackZoneId: string
                  notes:
                  - noteVisibilityTypeId: 0
                    appliesToRestrictionTypeIds:
                    - 0
                    priority: 0
                    title: string
                    message: string
                    url: string
                    telephone: string
                  tags:
                  - string
                  authorityType: 0
                  legalName: string
                  capabilities:
                    allowIsPubliclyViewable: true
                    allowChargePointRequests: true
                    isVisibleOnPublicConsultation: true
                    enableSessionRecordingInternal: true
                    enableSessionRecordingPublic: true
                    inMaintenanceMode: true
                    enableAssets: true
                  capabilitiesState:
                    isStaticPubliclyViewable: true
                    isMovingPubliclyViewable: true
                    isOffStreetPubliclyViewable: true
                    acceptChargePointRequests: true
                    hideTariffsOnMapSchedules: true
                    hideTariffsOnStreets: true
                    hideRestrictedSpeedLimitsOnStreets: true
                  highwayAuthority: string
                  dataQuality: 1
                  lastTmoUpdate: string
                  reviewTerminalIds: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /authorities/getFullBySlug:
    get:
      tags:
      - Authorities
      summary: AppyWay Get Full Authority By Slug
      description: "Returns an object which has the location of the documents containing the full restrictions of an authority <br /> \n            The documentation provided here shows the model you will find at these locations. The initial object contains only the URL's. <br />\n            You will have to fetch the documents from the returned authority URL's"
      operationId: get-authorities-getfullbyslug
      parameters:
      - name: slug
        in: query
        description: The name of the authority. You can find this by making a request to the getAll endpoint
        schema:
          type: string
      - name: maxDate
        in: query
        description: Format - date-time (as date-time in RFC3339). The date at which you wish to view the restrictions
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AuthoritySnapshotInfoDocResult'
              examples:
                default:
                  value: null
            application/json:
              schema:
                $ref: '#/components/schemas/AuthoritySnapshotInfoDocResult'
              example:
                success: true
                data:
                  ospsUrl:
                  - type: string
                    features:
                    - type: string
                      id: string
                      geometry:
                        type: string
                        crs:
                          type: string
                          properties:
                            name: string
                      properties:
                        onStreetParkingId: string
                        zoneId: string
                        authorityId: string
                        address:
                          street: string
                          postcode: string
                          city: string
                          country: string
                        length: 0
                        bays: 0
                        restrictionTypeDetails:
                        - restrictionTypeId: 0
                          operatingHoursSets:
                          - setGuid: string
                            setId: string
                            parkingEntitlementTypeIds:
                            - 0
                          exceptionsSet:
                            setGuid: string
                            setId: string
                          locationNumber: string
                          terminalIds:
                          - string
                          exemptionsSet:
                            setGuid: string
                            setId: string
                          tariffsSet:
                          - setGuid: string
                            setId: string
                            parkingEntitlementTypeIds:
                            - 0
                        notes:
                        - noteVisibilityTypeId: 0
                          appliesToRestrictionTypeIds:
                          - 0
                          priority: 0
                          title: string
                          message: string
                          url: string
                          telephone: string
                        electricPoint:
                          manufacturer: string
                          manufacturerContactNumber: string
                          chargeFee: string
                          website: string
                          electricConnections:
                          - type: 0
                            name: string
                            description: string
                            quantity: 0
                        venueId: string
                        sourceTag: string
                        sensorIds:
                        - string
                        centroid:
                          latitude: 0
                          longitude: 0
                        tags:
                        - string
                        linkedOspIds:
                        - string
                    properties: {}
                  zonesUrl:
                    type: string
                    features:
                    - type: string
                      id: string
                      geometry:
                        type: string
                        crs:
                          type: string
                          properties:
                            name: string
                        coordinates:
                        - - - 0
                      properties:
                        zoneId: string
                        authorityId: string
                        parentZoneId: string
                        type: 1
                        name: string
                        restrictionTypeDetails:
                        - restrictionTypeId: 0
                          operatingHoursSets:
                          - setGuid: string
                            setId: string
                            parkingEntitlementTypeIds:
                            - 0
                          exceptionsSet:
                            setGuid: string
                            setId: string
                        notes:
                        - noteVisibilityTypeId: 0
                          appliesToRestrictionTypeIds:
                          - 0
                          priority: 0
                          title: string
                          message: string
                          url: string
                          telephone: string
                        venueId: string
                        sourceTag: string
                        tags:
                        - string
                    properties: {}
                  setsUrl:
                    operatingHoursSets:
                    - guid: string
                      setId: string
                      name: string
                      formattedName: string
                      operatingHours:
                        standardDays:
                        - ruleTime:
                            months:
                            - 0
                            days:
                            - 0
                            weekNumbers:
                            - 0
                            hours:
                            - start: '2024-10-11'
                              end: '2024-10-11'
                            firstDate:
                              month: 0
                              day: 0
                            lastDate:
                              month: 0
                              day: 0
                          parkingEntitlementTypeIds:
                          - 0
                          maxStay: 0
                          minStay: 0
                          noReturn: 0
                          noReturnUntil: '2024-10-11'
                        eventDays:
                        - ruleTime:
                            months:
                            - 0
                            days:
                            - 0
                            weekNumbers:
                            - 0
                            hours:
                            - start: '2024-10-11'
                              end: '2024-10-11'
                            firstDate:
                              month: 0
                              day: 0
                            lastDate:
                              month: 0
                              day: 0
                          parkingEntitlementTypeIds:
                          - 0
                          maxStay: 0
                          minStay: 0
                          noReturn: 0
                          noReturnUntil: '2024-10-11'
                    exemptionsSets:
                    - guid: string
                      setId: string
                      name: string
                      formattedName: string
                      exemptions:
                      - exemptionTypeId: 0
                        parkingEntitlementTypeId: 0
                        exemptionTimeTypeId: 0
                        exemptionApplies: true
                        maxStay: 0
                        noReturn: 0
                    exceptionsSets:
                    - guid: string
                      setId: string
                      name: string
                      formattedName: string
                      exceptions:
                        allHolidaysRestrictionExceptionTypeId: 0
                        allHolidaysOperatingHours:
                          standardDays:
                          - ruleTime:
                              months:
                              - 0
                              days:
                              - 0
                              weekNumbers:
                              - 0
                              hours:
                              - start: '2024-10-11'
                                end: '2024-10-11'
                              firstDate:
                                month: 0
                                day: 0
                              lastDate:
                                month: 0
                                day: 0
                            parkingEntitlementTypeIds:
                            - 0
                            maxStay: 0
                            minStay: 0
                            noReturn: 0
                            noReturnUntil: '2024-10-11'
                          eventDays:
                          - ruleTime:
                              months:
                              - 0
                              days:
                              - 0
                              weekNumbers:
                              - 0
                              hours:
                              - start: '2024-10-11'
                                end: '2024-10-11'
                              firstDate:
                                month: 0
                                day: 0
                              lastDate:
                                month: 0
                                day: 0
                            parkingEntitlementTypeIds:
                            - 0
                            maxStay: 0
                            minStay: 0
                            noReturn: 0
                            noReturnUntil: '2024-10-11'
                        daySpecificRestrictionExceptions:
                        - publicHolidayOrNamedDayId: string
                          restrictionExceptionTypeId: 0
                          operatingHours:
                            standardDays:
                            - ruleTime:
                                months:
                                - 0
                                days:
                                - 0
                                weekNumbers:
                                - 0
                                hours:
                                - start: '2024-10-11'
                                  end: '2024-10-11'
                                firstDate:
                                  month: 0
                                  day: 0
                                lastDate:
                                  month: 0
                                  day: 0
                              parkingEntitlementTypeIds:
                              - 0
                              maxStay: 0
                              minStay: 0
                              noReturn: 0
                              noReturnUntil: '2024-10-11'
                            eventDays:
                            - ruleTime:
                                months:
                                - 0
                                days:
                                - 0
                                weekNumbers:
                                - 0
                                hours:
                                - start: '2024-10-11'
                                  end: '2024-10-11'
                                firstDate:
                                  month: 0
                                  day: 0
                                lastDate:
                                  month: 0
                                  day: 0
                              parkingEntitlementTypeIds:
                              - 0
                              maxStay: 0
                              minStay: 0
                              noReturn: 0
                              noReturnUntil: '2024-10-11'
                    tariffSets:
                    - guid: string
                      setId: string
                      name: string
                      formattedName: string
                      tariffs:
                      - setName: string
                        parkingEntitlementTypeIds:
                        - 0
                        details:
                        - price: 0
                          surchargeDetail:
                            surchargeType: 0
                            surchargeTypeEnum: 0
                            value: 0
                            notes: string
                            ruleType: 0
                          emissionsAdjustments:
                            emissionsBandSetId: string
                            adjustments:
                            - emissionsBandId: string
                              amount: 0
                              surchargeDetail:
                                surchargeType: 0
                                surchargeTypeEnum: 0
                                value: 0
                                notes: string
                                ruleType: 0
                          duration: 0
                          minimumPriceIncrement: 0
                          singlePaymentCanCrossMidnight: true
                          from: 0
                          upTo: 0
                        timeFrom: '2024-10-11'
                        timeTo: '2024-10-11'
                        firstDate:
                          month: 0
                          day: 0
                        lastDate:
                          month: 0
                          day: 0
                        months:
                        - 0
                        days:
                        - 0
                        timeType: 0
                    emissionsBandSets:
                    - guid: string
                      setId: string
                      name: string
                      formattedName: string
                      emissionsBands:
                      - id: string
                        name: string
                        emissions:
                          min: 0
                          max: 0
                        fuelTypes:
                        - 1
                        registrationYears:
                          min: 0
                          max: 0
                    isEmpty: true
                  mtfsUrl:
                    type: string
                    features:
                    - geoType: string
                      featureId: string
                      featureType: 0
                      authorityId: string
                      note: string
                      streetName: string
                      guid: string
                    properties: {}
            text/json:
              schema:
                $ref: '#/components/schemas/AuthoritySnapshotInfoDocResult'
              example:
                success: true
                data:
                  ospsUrl:
                  - type: string
                    features:
                    - type: string
                      id: string
                      geometry:
                        type: string
                        crs:
                          type: string
                          properties:
                            name: string
                      properties:
                        onStreetParkingId: string
                        zoneId: string
                        authorityId: string
                        address:
                          street: string
                          postcode: string
                          city: string
                          country: string
                        length: 0
                        bays: 0
                        restrictionTypeDetails:
                        - restrictionTypeId: 0
                          operatingHoursSets:
                          - setGuid: string
                            setId: string
                            parkingEntitlementTypeIds:
                            - 0
                          exceptionsSet:
                            setGuid: string
                            setId: string
                          locationNumber: string
                          terminalIds:
                          - string
                          exemptionsSet:
                            setGuid: string
                            setId: string
                          tariffsSet:
                          - setGuid: string
                            setId: string
                            parkingEntitlementTypeIds:
                            - 0
                        notes:
                        - noteVisibilityTypeId: 0
                          appliesToRestrictionTypeIds:
                          - 0
                          priority: 0
                          title: string
                          message: string
                          url: string
                          telephone: string
                        electricPoint:
                          manufacturer: string
                          manufacturerContactNumber: string
                          chargeFee: string
                          website: string
                          electricConnections:
                          - type: 0
                            name: string
                            description: string
                            quantity: 0
                        venueId: string
                        sourceTag: string
                        sensorIds:
                        - string
                        centroid:
                          latitude: 0
                          longitude: 0
                        tags:
                        - string
                        linkedOspIds:
                        - string
                    properties: {}
                  zonesUrl:
                    type: string
                    features:
                    - type: string
                      id: string
                      geometry:
                        type: string
                        crs:
                          type: string
                          properties:
                            name: string
                        coordinates:
                        - - - 0
                      properties:
                        zoneId: string
                        authorityId: string
                        parentZoneId: string
                        type: 1
                        name: string
                        restrictionTypeDetails:
                        - restrictionTypeId: 0
                          operatingHoursSets:
                          - setGuid: string
                            setId: string
                            parkingEntitlementTypeIds:
                            - 0
                          exceptionsSet:
                            setGuid: string
                            setId: string
                        notes:
                        - noteVisibilityTypeId: 0
                          appliesToRestrictionTypeIds:
                          - 0
                          priority: 0
                          title: string
                          message: string
                          url: string
                          telephone: string
                        venueId: string
                        sourceTag: string
                        tags:
                        - string
                    properties: {}
                  setsUrl:
                    operatingHoursSets:
                    - guid: string
                      setId: string
                      name: string
                      formattedName: string
                      operatingHours:
                        standardDays:
                        - ruleTime:
                            months:
                            - 0
                            days:
                            - 0
                            weekNumbers:
                            - 0
                            hours:
                            - start: '2024-10-11'
                              end: '2024-10-11'
                            firstDate:
                              month: 0
                              day: 0
                            lastDate:
                              month: 0
                              day: 0
                          parkingEntitlementTypeIds:
                          - 0
                          maxStay: 0
                          minStay: 0
                          noReturn: 0
                          noReturnUntil: '2024-10-11'
                        eventDays:
                        - ruleTime:
                            months:
                            - 0
                            days:
                            - 0
                            weekNumbers:
                            - 0
                            hours:
                            - start: '2024-10-11'
                              end: '2024-10-11'
                            firstDate:
                              month: 0
                              day: 0
                            lastDate:
                              month: 0
                              day: 0
                          parkingEntitlementTypeIds:
                          - 0
                          maxStay: 0
                          minStay: 0
                          noReturn: 0
                          noReturnUntil: '2024-10-11'
                    exemptionsSets:
                    - guid: string
                      setId: string
                      name: string
                      formattedName: string
                      exemptions:
                      - exemptionTypeId: 0
                        parkingEntitlementTypeId: 0
                        exemptionTimeTypeId: 0
                        exemptionApplies: true
                        maxStay: 0
                        noReturn: 0
                    exceptionsSets:
                    - guid: string
                      setId: string
                      name: string
                      formattedName: string
                      exceptions:
                        allHolidaysRestrictionExceptionTypeId: 0
                        allHolidaysOperatingHours:
                          standardDays:
                          - ruleTime:
                              months:
                              - 0
                              days:
                              - 0
                              weekNumbers:
                              - 0
                              hours:
                              - start: '2024-10-11'
                                end: '2024-10-11'
                              firstDate:
                                month: 0
                                day: 0
                              lastDate:
                                month: 0
                                day: 0
                            parkingEntitlementTypeIds:
                            - 0
                            maxStay: 0
                            minStay: 0
                            noReturn: 0
                            noReturnUntil: '2024-10-11'
                          eventDays:
                          - ruleTime:
                              months:
                              - 0
                              days:
                              - 0
                              weekNumbers:
                              - 0
                              hours:
                              - start: '2024-10-11'
                                end: '2024-10-11'
                              firstDate:
                                month: 0
                                day: 0
                              lastDate:
                                month: 0
                                day: 0
                            parkingEntitlementTypeIds:
                            - 0
                            maxStay: 0
                            minStay: 0
                            noReturn: 0
                            noReturnUntil: '2024-10-11'
                        daySpecificRestrictionExceptions:
                        - publicHolidayOrNamedDayId: string
                          restrictionExceptionTypeId: 0
                          operatingHours:
                            standardDays:
                            - ruleTime:
                                months:
                                - 0
                                days:
                                - 0
                                weekNumbers:
                                - 0
                                hours:
                                - start: '2024-10-11'
                                  end: '2024-10-11'
                                firstDate:
                                  month: 0
                                  day: 0
                                lastDate:
                                  month: 0
                                  day: 0
                              parkingEntitlementTypeIds:
                              - 0
                              maxStay: 0
                              minStay: 0
                              noReturn: 0
                              noReturnUntil: '2024-10-11'
                            eventDays:
                            - ruleTime:
                                months:
                                - 0
                                days:
                                - 0
                                weekNumbers:
                                - 0
                                hours:
                                - start: '2024-10-11'
                                  end: '2024-10-11'
                                firstDate:
                                  month: 0
                                  day: 0
                                lastDate:
                                  month: 0
                                  day: 0
                              parkingEntitlementTypeIds:
                              - 0
                              maxStay: 0
                              minStay: 0
                              noReturn: 0
                              noReturnUntil: '2024-10-11'
                    tariffSets:
                    - guid: string
                      setId: string
                      name: string
                      formattedName: string
                      tariffs:
                      - setName: string
                        parkingEntitlementTypeIds:
                        - 0
                        details:
                        - price: 0
                          surchargeDetail:
                            surchargeType: 0
                            surchargeTypeEnum: 0
                            value: 0
                            notes: string
                            ruleType: 0
                          emissionsAdjustments:
                            emissionsBandSetId: string
                            adjustments:
                            - emissionsBandId: string
                              amount: 0
                              surchargeDetail:
                                surchargeType: 0
                                surchargeTypeEnum: 0
                                value: 0
                                notes: string
                                ruleType: 0
                          duration: 0
                          minimumPriceIncrement: 0
                          singlePaymentCanCrossMidnight: true
                          from: 0
                          upTo: 0
                        timeFrom: '2024-10-11'
                        timeTo: '2024-10-11'
                        firstDate:
                          month: 0
                          day: 0
                        lastDate:
                          month: 0
                          day: 0
                        months:
                        - 0
                        days:
                        - 0
                        timeType: 0
                    emissionsBandSets:
                    - guid: string
                      setId: string
                      name: string
                      formattedName: string
                      emissionsBands:
                      - id: string
                        name: string
                        emissions:
                          min: 0
                          max: 0
                        fuelTypes:
                        - 1
                        registrationYears:
                          min: 0
                          max: 0
                    isEmpty: true
                  mtfsUrl:
                    type: string
                    features:
                    - geoType: string
                      featureId: string
                      featureType: 0
                      authorityId: string
                      note: string
                      streetName: string
                      guid: string
                    properties: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /fetchAllAuthorities:
    post:
      tags:
      - Authorities
      summary: AppyWay Fetch basic authority information for all authorities that you are entitled to access
      description: Fetch basic authority information for all authorities that you are entitled to access
      operationId: post-fetchallauthorities
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AuthorityIReadOnlyCollectionOkResponse'
              examples:
                default:
                  value: null
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorityIReadOnlyCollectionOkResponse'
              example:
                success: true
                result:
                - id: string
                  name: string
                  regionId: string
                  countryId: string
                  authoritySlugs:
                  - string
                  ordnanceSurvey:
                    apiKey: string
                    license: string
                  hasFreeParkingOutsideZone: true
                  timeZoneId: string
                  privacyPolicyUrl: string
                  paymentProviderId: string
                  centroid:
                    latitude: 0
                    longitude: 0
                  boundingBox:
                    topLeft:
                      latitude: 0
                      longitude: 0
                    bottomRight:
                      latitude: 0
                      longitude: 0
                  fallbackZoneId: string
                  notes:
                  - noteVisibilityTypeId: 0
                    appliesToRestrictionTypeIds:
                    - 0
                    priority: 0
                    title: string
                    message: string
                    url: string
                    telephone: string
                  tags:
                  - string
                  authorityType: 0
                  legalName: string
                  capabilities:
                    allowIsPubliclyViewable: true
                    allowChargePointRequests: true
                    isVisibleOnPublicConsultation: true
                    enableSessionRecordingInternal: true
                    enableSessionRecordingPublic: true
                    inMaintenanceMode: true
                    enableAssets: true
                  capabilitiesState:
                    isStaticPubliclyViewable: true
                    isMovingPubliclyViewable: true
                    isOffStreetPubliclyViewable: true
                    acceptChargePointRequests: true
                    hideTariffsOnMapSchedules: true
                    hideTariffsOnStreets: true
                    hideRestrictedSpeedLimitsOnStreets: true
                  highwayAuthority: string
                  dataQuality: 1
                  lastTmoUpdate: string
                  reviewTerminalIds: true
            text/json:
              schema:
                $ref: '#/components/schemas/AuthorityIReadOnlyCollectionOkResponse'
              example:
                success: true
                result:
                - id: string
                  name: string
                  regionId: string
                  countryId: string
                  authoritySlugs:
                  - string
                  ordnanceSurvey:
                    apiKey: string
                    license: string
                  hasFreeParkingOutsideZone: true
                  timeZoneId: string
                  privacyPolicyUrl: string
                  paymentProviderId: string
                  centroid:
                    latitude: 0
                    longitude: 0
                  boundingBox:
                    topLeft:
                      latitude: 0
                      longitude: 0
                    bottomRight:
                      latitude: 0
                      longitude: 0
                  fallbackZoneId: string
                  notes:
                  - noteVisibilityTypeId: 0
                    appliesToRestrictionTypeIds:
                    - 0
                    priority: 0
                    title: string
                    message: string
                    url: string
                    telephone: string
                  tags:
                  - string
                  authorityType: 0
                  legalName: string
                  capabilities:
                    allowIsPubliclyViewable: true
                    allowChargePointRequests: true
                    isVisibleOnPublicConsultation: true
                    enableSessionRecordingInternal: true
                    enableSessionRecordingPublic: true
                    inMaintenanceMode: true
                    enableAssets: true
                  capabilitiesState:
                    isStaticPubliclyViewable: true
                    isMovingPubliclyViewable: true
                    isOffStreetPubliclyViewable: true
                    acceptChargePointRequests: true
                    hideTariffsOnMapSchedules: true
                    hideTariffsOnStreets: true
                    hideRestrictedSpeedLimitsOnStreets: true
                  highwayAuthority: string
                  dataQuality: 1
                  lastTmoUpdate: string
                  reviewTerminalIds: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /fetchFullAuthorityBySlug:
    post:
      tags:
      - Authorities
      summary: AppyWay Fetch the basic authority information by slug
      description: Returns the the basic authority information by slug (authority name)
      operationId: post-fetchfullauthoritybyslug
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/FetchFullAuthorityBySlugQuery'
            example:
              slug: string
          application/json:
            schema:
              $ref: '#/components/schemas/FetchFullAuthorityBySlugQuery'
            example:
              slug: string
          text/json:
            schema:
              $ref: '#/components/schemas/FetchFullAuthorityBySlugQuery'
            example:
              slug: string
          application/*+json:
            schema:
              $ref: '#/components/schemas/FetchFullAuthorityBySlugQuery'
            example:
              slug: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FullAuthorityOkResponse'
              examples:
                default:
                  value: null
            application/json:
              schema:
                $ref: '#/components/schemas/FullAuthorityOkResponse'
              example:
                success: true
                result:
                  id: string
                  name: string
                  regionId: string
                  countryId: string
                  authoritySlugs:
                  - string
                  ordnanceSurvey:
                    apiKey: string
                    license: string
                  hasFreeParkingOutsideZone: true
                  timeZoneId: string
                  privacyPolicyUrl: string
                  paymentProviderId: string
                  centroid:
                    latitude: 0
                    longitude: 0
                  boundingBox:
                    topLeft:
                      latitude: 0
                      longitude: 0
                    bottomRight:
                      latitude: 0
                      longitude: 0
                  fallbackZoneId: string
                  notes:
                  - noteVisibilityTypeId: 0
                    appliesToRestrictionTypeIds:
                    - 0
                    priority: 0
                    title: string
                    message: string
                    url: string
                    telephone: string
                  tags:
                  - string
                  authorityType: 0
                  legalName: string
                  capabilities:
                    allowIsPubliclyViewable: true
                    allowChargePointRequests: true
                    isVisibleOnPublicConsultation: true
                    enableSessionRecordingInternal: true
                    enableSessionRecordingPublic: true
                    inMaintenanceMode: true
                    enableAssets: true
                  capabilitiesState:
                    isStaticPubliclyViewable: true
                    isMovingPubliclyViewable: true
                    isOffStreetPubliclyViewable: true
                    acceptChargePointRequests: true
                    hideTariffsOnMapSchedules: true
                    hideTariffsOnStreets: true
                    hideRestrictedSpeedLimitsOnStreets: true
                  highwayAuthority: string
                  dataQuality: 1
                  lastTmoUpdate: string
                  reviewTerminalIds: true
                  shape:
                    type: string
                    crs:
                      type: string
                      properties:
                        name: string
                    coordinates:
                    - - - 0
            text/json:
              schema:
                $ref: '#/components/schemas/FullAuthorityOkResponse'
              example:
                success: true
                result:
                  id: string
                  name: string
                  regionId: string
                  countryId: string
                  authoritySlugs:
                  - string
                  ordnanceSurvey:
                    apiKey: string
                    license: string
                  hasFreeParkingOutsideZone: true
                  timeZoneId: string
                  privacyPolicyUrl: string
                  paymentProviderId: string
                  centroid:
                    latitude: 0
                    longitude: 0
                  boundingBox:
                    topLeft:
                      latitude: 0
                      longitude: 0
                    bottomRight:
                      latitude: 0
                      longitude: 0
                  fallbackZoneId: string
                  notes:
                  - noteVisibilityTypeId: 0
                    appliesToRestrictionTypeIds:
                    - 0
                    priority: 0
                    title: string
                    message: string
                    url: string
                    telephone: string
                  tags:
                  - string
                  authorityType: 0
                  legalName: string
                  capabilities:
                    allowIsPubliclyViewable: true
                    allowChargePointRequests: true
                    isVisibleOnPublicConsultation: true
                    enableSessionRecordingInternal: true
                    enableSessionRecordingPublic: true
                    inMaintenanceMode: true
                    enableAssets: true
                  capabilitiesState:
                    isStaticPubliclyViewable: true
                    isMovingPubliclyViewable: true
                    isOffStreetPubliclyViewable: true
                    acceptChargePointRequests: true
                    hideTariffsOnMapSchedules: true
                    hideTariffsOnStreets: true
                    hideRestrictedSpeedLimitsOnStreets: true
                  highwayAuthority: string
                  dataQuality: 1
                  lastTmoUpdate: string
                  reviewTerminalIds: true
                  shape:
                    type: string
                    crs:
                      type: string
                      properties:
                        name: string
                    coordinates:
                    - - - 0
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              examples:
                default:
                  value: null
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              example:
                success: true
                message: string
                errors:
                - property: string
                  code: string
                  message: string
            text/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              example:
                success: true
                message: string
                errors:
                - property: string
                  code: string
                  message: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /fetchFullAuthorityInfoBySlug:
    post:
      tags:
      - Authorities
      summary: AppyWay Fetch Full Authority By Slug
      description: "Returns an object which has the location of the documents containing the full restrictions of an authority <br /> \n            The documentation provided here shows the model you will find at these locations. The initial object contains only the URL's. <br />\n            You will have to fetch the documents from the returned authority URL's"
      operationId: post-fetchfullauthorityinfobyslug
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/FetchFullAuthorityInfoBySlugQuery'
            example:
              slug: string
              maxDate: string
          application/json:
            schema:
              $ref: '#/components/schemas/FetchFullAuthorityInfoBySlugQuery'
            example:
              slug: string
              maxDate: string
          text/json:
            schema:
              $ref: '#/components/schemas/FetchFullAuthorityInfoBySlugQuery'
            example:
              slug: string
              maxDate: string
          application/*+json:
            schema:
              $ref: '#/components/schemas/FetchFullAuthorityInfoBySlugQuery'
            example:
              slug: string
              maxDate: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AuthoritySnapshotInfoDocOkResponse'
              examples:
                default:
                  value: null
            application/json:
              schema:
                $ref: '#/components/schemas/AuthoritySnapshotInfoDocOkResponse'
              example:
                success: true
                result:
                  ospsUrl:
                  - type: string
                    features:
                    - type: string
                      id: string
                      geometry:
                        type: string
                        crs:
                          type: string
                          properties:
                            name: string
                      properties:
                        onStreetParkingId: string
                        zoneId: string
                        authorityId: string
                        address:
                          street: string
                          postcode: string
                          city: string
                          country: string
                        length: 0
                        bays: 0
                        restrictionTypeDetails:
                        - restrictionTypeId: 0
                          operatingHoursSets:
                          - setGuid: string
                            setId: string
                            parkingEntitlementTypeIds:
                            - 0
                          exceptionsSet:
                            setGuid: string
                            setId: string
                          locationNumber: string
                          terminalIds:
                          - string
                          exemptionsSet:
                            setGuid: string
                            setId: string
                          tariffsSet:
                          - setGuid: string
                            setId: string
                            parkingEntitlementTypeIds:
                            - 0
                        notes:
                        - noteVisibilityTypeId: 0
                          appliesToRestrictionTypeIds:
                          - 0
                          priority: 0
                          title: string
                          message: string
                          url: string
                          telephone: string
                        electricPoint:
                          manufacturer: string
                          manufacturerContactNumber: string
                          chargeFee: string
                          website: string
                          electricConnections:
                          - type: 0
                            name: string
                            description: string
                            quantity: 0
                        venueId: string
                        sourceTag: string
                        sensorIds:
                        - string
                        centroid:
                          latitude: 0
                          longitude: 0
                        tags:
                        - string
                        linkedOspIds:
                        - string
                    properties: {}
                  zonesUrl:
                    type: string
                    features:
                    - type: string
                      id: string
                      geometry:
                        type: string
                        crs:
                          type: string
                          properties:
                            name: string
                        coordinates:
                        - - - 0
                      properties:
                        zoneId: string
                        authorityId: string
                        parentZoneId: string
                        type: 1
                        name: string
                        restrictionTypeDetails:
                        - restrictionTypeId: 0
                          operatingHoursSets:
                          - setGuid: string
                            setId: string
                            parkingEntitlementTypeIds:
                            - 0
                          exceptionsSet:
                            setGuid: string
                            setId: string
                        notes:
                        - noteVisibilityTypeId: 0
                          appliesToRestrictionTypeIds:
                          - 0
                          priority: 0
                          title: string
                          message: string
                          url: string
                          telephone: string
                        venueId: string
                        sourceTag: string
                        tags:
                        - string
                    properties: {}
                  setsUrl:
                    operatingHoursSets:
                    - guid: string
                      setId: string
                      name: string
                      formattedName: string
                      operatingHours:
                        standardDays:
                        - ruleTime:
                            months:
                            - 0
                            days:
                            - 0
                            weekNumbers:
                            - 0
                            hours:
                            - start: '2024-10-11'
                              end: '2024-10-11'
                            firstDate:
                              month: 0
                              day: 0
                            lastDate:
                              month: 0
                              day: 0
                          parkingEntitlementTypeIds:
                          - 0
                          maxStay: 0
                          minStay: 0
                          noReturn: 0
                          noReturnUntil: '2024-10-11'
                        eventDays:
                        - ruleTime:
                            months:
                            - 0
                            days:
                            - 0
                            weekNumbers:
                            - 0
                            hours:
                            - start: '2024-10-11'
                              end: '2024-10-11'
                            firstDate:
                              month: 0
                              day: 0
                            lastDate:
                              month: 0
                              day: 0
                          parkingEntitlementTypeIds:
                          - 0
                          maxStay: 0
                          minStay: 0
                          noReturn: 0
                          noReturnUntil: '2024-10-11'
                    exemptionsSets:
                    - guid: string
                      setId: string
                      name: string
                      formattedName: string
                      exemptions:
                      - exemptionTypeId: 0
                        parkingEntitlementTypeId: 0
                        exemptionTimeTypeId: 0
                        exemptionApplies: true
                        maxStay: 0
                        noReturn: 0
                    exceptionsSets:
                    - guid: string
                      setId: string
                      name: string
                      formattedName: string
                      exceptions:
                        allHolidaysRestrictionExceptionTypeId: 0
                        allHolidaysOperatingHours:
                          standardDays:
                          - ruleTime:
                              months:
                              - 0
                              days:
                              - 0
                              weekNumbers:
                              - 0
                              hours:
                              - start: '2024-10-11'
                                end: '2024-10-11'
                              firstDate:
                                month: 0
                                day: 0
                              lastDate:
                                month: 0
                                day: 0
                            parkingEntitlementTypeIds:
                            - 0
                            maxStay: 0
                            minStay: 0
                            noReturn: 0
                            noReturnUntil: '2024-10-11'
                          eventDays:
                          - ruleTime:
                              months:
                              - 0
                              days:
                              - 0
                              weekNumbers:
                              - 0
                              hours:
                              - start: '2024-10-11'
                                end: '2024-10-11'
                              firstDate:
                                month: 0
                                day: 0
                              lastDate:
                                month: 0
                                day: 0
                            parkingEntitlementTypeIds:
                            - 0
                            maxStay: 0
                            minStay: 0
                            noReturn: 0
                            noReturnUntil: '2024-10-11'
                        daySpecificRestrictionExceptions:
                        - publicHolidayOrNamedDayId: string
                          restrictionExceptionTypeId: 0
                          operatingHours:
                            standardDays:
                            - ruleTime:
                                months:
                                - 0
                                days:
                                - 0
                                weekNumbers:
                                - 0
                                hours:
                                - start: '2024-10-11'
                                  end: '2024-10-11'
                                firstDate:
                                  month: 0
                                  day: 0
                                lastDate:
                                  month: 0
                                  day: 0
                              parkingEntitlementTypeIds:
                              - 0
                              maxStay: 0
                              minStay: 0
                              noReturn: 0
                              noReturnUntil: '2024-10-11'
                            eventDays:
                            - ruleTime:
                                months:
                                - 0
                                days:
                                - 0
                                weekNumbers:
                                - 0
                                hours:
                                - start: '2024-10-11'
                                  end: '2024-10-11'
                                firstDate:
                                  month: 0
                                  day: 0
                                lastDate:
                                  month: 0
                                  day: 0
                              parkingEntitlementTypeIds:
                              - 0
                              maxStay: 0
                              minStay: 0
                              noReturn: 0
                              noReturnUntil: '2024-10-11'
                    tariffSets:
                    - guid: string
                      setId: string
                      name: string
                      formattedName: string
                      tariffs:
                      - setName: string
                        parkingEntitlementTypeIds:
                        - 0
                        details:
                        - price: 0
                          surchargeDetail:
                            surchargeType: 0
                            surchargeTypeEnum: 0
                            value: 0
                            notes: string
                            ruleType: 0
                          emissionsAdjustments:
                            emissionsBandSetId: string
                            adjustments:
                            - emissionsBandId: string
                              amount: 0
                              surchargeDetail:
                                surchargeType: 0
                                surchargeTypeEnum: 0
                                value: 0
                                notes: string
                                ruleType: 0
                          duration: 0
                          minimumPriceIncrement: 0
                          singlePaymentCanCrossMidnight: true
                          from: 0
                          upTo: 0
                        timeFrom: '2024-10-11'
                        timeTo: '2024-10-11'
                        firstDate:
                          month: 0
                          day: 0
                        lastDate:
                          month: 0
                          day: 0
                        months:
                        - 0
                        days:
                        - 0
                        timeType: 0
                    emissionsBandSets:
                    - guid: string
                      setId: string
                      name: string
                      formattedName: string
                      emissionsBands:
                      - id: string
                        name: string
                        emissions:
                          min: 0
                          max: 0
                        fuelTypes:
                        - 1
                        registrationYears:
                          min: 0
                          max: 0
                    isEmpty: true
                  mtfsUrl:
                    type: string
                    features:
                    - geoType: string
                      featureId: string
                      featureType: 0
                      authorityId: string
                      note: string
                      streetName: string
                      guid: string
                    properties: {}
            text/json:
              schema:
                $ref: '#/components/schemas/AuthoritySnapshotInfoDocOkResponse'
              example:
                success: true
                result:
                  ospsUrl:
                  - type: string
                    features:
                    - type: string
                      id: string
                      geometry:
                        type: string
                        crs:
                          type: string
                          properties:
                            name: string
                      properties:
                        onStreetParkingId: string
                        zoneId: string
                        authorityId: string
                        address:
                          street: string
                          postcode: string
                          city: string
                          country: string
                        length: 0
                        bays: 0
                        restrictionTypeDetails:
                        - restrictionTypeId: 0
                          operatingHoursSets:
                          - setGuid: string
                            setId: string
                            parkingEntitlementTypeIds:
                            - 0
                          exceptionsSet:
                            setGuid: string
                            setId: string
                          locationNumber: string
                          terminalIds:
                          - string
                          exemptionsSet:
                            setGuid: string
                            setId: string
                          tariffsSet:
                          - setGuid: string
                            setId: string
                            parkingEntitlementTypeIds:
                            - 0
                        notes:
                        - noteVisibilityTypeId: 0
                          appliesToRestrictionTypeIds:
                          - 0
                          priority: 0
                          title: string
                          message: string
                          url: string
                          telephone: string
                        electricPoint:
                          manufacturer: string
                          manufacturerContactNumber: string
                          chargeFee: string
                          website: string
                          electricConnections:
                          - type: 0
                            name: string
                            description: string
                            quantity: 0
                        venueId: string
                        sourceTag: string
                        sensorIds:
                        - string
                        centroid:
                          latitude: 0
                          longitude: 0
                        tags:
                        - string
                        linkedOspIds:
                        - string
                    properties: {}
                  zonesUrl:
                    type: string
                    features:
                    - type: string
                      id: string
                      geometry:
                        type: string
                        crs:
                          type: string
                          properties:
                            name: string
                        coordinates:
                        - - - 0
                      properties:
                        zoneId: string
                        authorityId: string
                        parentZoneId: string
                        type: 1
                        name: string
                        restrictionTypeDetails:
                        - restrictionTypeId: 0
                          operatingHoursSets:
                          - setGuid: string
                            setId: string
                            parkingEntitlementTypeIds:
                            - 0
                          exceptionsSet:
                            setGuid: string
                            setId: string
                        notes:
                        - noteVisibilityTypeId: 0
                          appliesToRestrictionTypeIds:
                          - 0
                          priority: 0
                          title: string
                          message: string
                          url: string
                          telephone: string
                        venueId: string
                        sourceTag: string
                        tags:
                        - string
                    properties: {}
                  setsUrl:
                    operatingHoursSets:
                    - guid: string
                      setId: string
                      name: string
                      formattedName: string
                      operatingHours:
                        standardDays:
                        - ruleTime:
                            months:
                            - 0
                            days:
                            - 0
                            weekNumbers:
                            - 0
                            hours:
                            - start: '2024-10-11'
                              end: '2024-10-11'
                            firstDate:
                              month: 0
                              day: 0
                            lastDate:
                              month: 0
                              day: 0
                          parkingEntitlementTypeIds:
                          - 0
                          maxStay: 0
                          minStay: 0
                          noReturn: 0
                          noReturnUntil: '2024-10-11'
                        eventDays:
                        - ruleTime:
                            months:
                            - 0
                            days:
                            - 0
                            weekNumbers:
                            - 0
                            hours:
                            - start: '2024-10-11'
                              end: '2024-10-11'
                            firstDate:
                              month: 0
                              day: 0
                            lastDate:
                              month: 0
                              day: 0
                          parkingEntitlementTypeIds:
                          - 0
                          maxStay: 0
                          minStay: 0
                          noReturn: 0
                          noReturnUntil: '2024-10-11'
                    exemptionsSets:
                    - guid: string
                      setId: string
                      name: string
                      formattedName: string
                      exemptions:
                      - exemptionTypeId: 0
                        parkingEntitlementTypeId: 0
                        exemptionTimeTypeId: 0
                        exemptionApplies: true
                        maxStay: 0
                        noReturn: 0
                    exceptionsSets:
                    - guid: string
                      setId: string
                      name: string
                      formattedName: string
                      exceptions:
                        allHolidaysRestrictionExceptionTypeId: 0
                        allHolidaysOperatingHours:
                          standardDays:
                          - ruleTime:
                              months:
                              - 0
                              days:
                              - 0
                              weekNumbers:
                              - 0
                              hours:
                              - start: '2024-10-11'
                                end: '2024-10-11'
                              firstDate:
                                month: 0
                                day: 0
                              lastDate:
                                month: 0
                                day: 0
                            parkingEntitlementTypeIds:
                            - 0
                            maxStay: 0
                            minStay: 0
                            noReturn: 0
                            noReturnUntil: '2024-10-11'
                          eventDays:
                          - ruleTime:
                              months:
                              - 0
                              days:
                              - 0
                              weekNumbers:
                              - 0
                              hours:
                              - start: '2024-10-11'
                                end: '2024-10-11'
                              firstDate:
                                month: 0
                                day: 0
                              lastDate:
                                month: 0
                                day: 0
                            parkingEntitlementTypeIds:
                            - 0
                            maxStay: 0
                            minStay: 0
                            noReturn: 0
                            noReturnUntil: '2024-10-11'
                        daySpecificRestrictionExceptions:
                        - publicHolidayOrNamedDayId: string
                          restrictionExceptionTypeId: 0
                          operatingHours:
                            standardDays:
                            - ruleTime:
                                months:
                                - 0
                                days:
                                - 0
                                weekNumbers:
                                - 0
                                hours:
                                - start: '2024-10-11'
                                  end: '2024-10-11'
                                firstDate:
                                  month: 0
                                  day: 0
                                lastDate:
                                  month: 0
                                  day: 0
                              parkingEntitlementTypeIds:
                              - 0
                              maxStay: 0
                              minStay: 0
                              noReturn: 0
                              noReturnUntil: '2024-10-11'
                            eventDays:
                            - ruleTime:
                                months:
                                - 0
                                days:
                                - 0
                                weekNumbers:
                                - 0
                                hours:
                                - start: '2024-10-11'
                                  end: '2024-10-11'
                                firstDate:
                                  month: 0
                                  day: 0
                                lastDate:
                                  month: 0
                                  day: 0
                              parkingEntitlementTypeIds:
                              - 0
                              maxStay: 0
                              minStay: 0
                              noReturn: 0
                              noReturnUntil: '2024-10-11'
                    tariffSets:
                    - guid: string
                      setId: string
                      name: string
                      formattedName: string
                      tariffs:
                      - setName: string
                        parkingEntitlementTypeIds:
                        - 0
                        details:
                        - price: 0
                          surchargeDetail:
                            surchargeType: 0
                            surchargeTypeEnum: 0
                            value: 0
                            notes: string
                            ruleType: 0
                          emissionsAdjustments:
                            emissionsBandSetId: string
                            adjustments:
                            - emissionsBandId: string
                              amount: 0
                              surchargeDetail:
                                surchargeType: 0
                                surchargeTypeEnum: 0
                                value: 0
                                notes: string
                                ruleType: 0
                          duration: 0
                          minimumPriceIncrement: 0
                          singlePaymentCanCrossMidnight: true
                          from: 0
                          upTo: 0
                        timeFrom: '2024-10-11'
                        timeTo: '2024-10-11'
                        firstDate:
                          month: 0
                          day: 0
                        lastDate:
                          month: 0
                          day: 0
                        months:
                        - 0
                        days:
                        - 0
                        timeType: 0
                    emissionsBandSets:
                    - guid: string
                      setId: string
                      name: string
                      formattedName: string
                      emissionsBands:
                      - id: string
                        name: string
                        emissions:
                          min: 0
                          max: 0
                        fuelTypes:
                        - 1
                        registrationYears:
                          min: 0
                          max: 0
                    isEmpty: true
                  mtfsUrl:
                    type: string
                    features:
                    - geoType: string
                      featureId: string
                      featureType: 0
                      authorityId: string
                      note: string
                      streetName: string
                      guid: string
                    properties: {}
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              examples:
                default:
                  value: null
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              example:
                success: true
                message: string
                errors:
                - property: string
                  code: string
                  message: string
            text/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              example:
                success: true
                message: string
                errors:
                - property: string
                  code: string
                  message: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
components:
  schemas:
    OrdnanceSurvey:
      type: object
      properties:
        apiKey:
          type: string
          nullable: true
        license:
          type: string
          nullable: true
      additionalProperties: false
    OperatingHoursCms:
      type: object
      properties:
        standardDays:
          type: array
          items:
            $ref: '#/components/schemas/RuleCms'
          description: List of Ylp.Cms.Core.Domain.Model.RuleCms applicable on normal days
          nullable: true
        eventDays:
          type: array
          items:
            $ref: '#/components/schemas/RuleCms'
          description: List of Ylp.Cms.Core.Domain.Model.RuleCms applicable on event days in an associated venue
          nullable: true
      additionalProperties: false
    ElectricConnectionCms:
      type: object
      properties:
        type:
          type: integer
          format: int32
        name:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        quantity:
          type: integer
          format: int32
      additionalProperties: false
    DataQuality:
      enum:
      - 1
      - 2
      - 3
      - 4
      type: integer
      description: '


        *HdPlus (1)

        *Hd (2)

        *Md (3)

        *Sd (4)

        '
      format: int32
    HoursCms:
      type: object
      properties:
        start:
          type: string
          description: ISO-8601 time pattern, extended as required to accommodate nanoseconds.
          example: 00:00:00
        end:
          type: string
          description: ISO-8601 time pattern, extended as required to accommodate nanoseconds.
          example: 00:00:00
      additionalProperties: false
    TariffEmissionsAdjustmentSetCms:
      type: object
      properties:
        emissionsBandSetId:
          type: string
          description: Identifier of the corresponding Ylp.Cms.Core.Domain.Model.Sets.EmissionsBandSet.
          format: uuid
        adjustments:
          type: array
          items:
            $ref: '#/components/schemas/TariffEmissionsAdjustmentCms'
          description: The adjustments to apply to the tariff. There should be one entry for each band in the corresponding Ylp.Cms.Core.Domain.Model.Sets.EmissionsBandSet.
          nullable: true
      additionalProperties: false
      description: A set of adjustments to the price defined in a Ylp.Cms.Core.Domain.Model.TariffDetailCms according to the bands defined in a Ylp.Cms.Core.Domain.Model.Sets.EmissionsBandSet.
    ExceptionsSet:
      type: object
      properties:
        guid:
          type: string
          format: uuid
        setId:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        formattedName:
          type: string
          nullable: true
          readOnly: true
        exceptions:
          $ref: '#/components/schemas/ExceptionsCms'
      additionalProperties: false
    AuthoritySearchResponseOkResponse:
      type: object
      properties:
        success:
          type: boolean
          readOnly: true
        result:
          $ref: '#/components/schemas/AuthoritySearchResponse'
      additionalProperties: false
    Polygon:
      type: object
      properties:
        type:
          type: string
          nullable: true
        crs:
          $ref: '#/components/schemas/Crs'
        coordinates:
          type: array
          items:
            type: array
            items:
              type: array
              items:
                type: number
                format: double
          nullable: true
      additionalProperties: false
    LatLng:
      type: object
      properties:
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
      additionalProperties: false
    PaymentProvider:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier (if the payment provider is present on Reference API)
          nullable: true
        name:
          type: string
          description: Provider name
          nullable: true
        cardPaymentsExternalUrl:
          type: string
          description: URL for taking payments (if online payments are supported)
          nullable: true
        paymentsTelephone:
          type: string
          description: Phone number for taking payments (if pay-by-phone is supported)
          nullable: true
        paymentsAppDeepLinks:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/PaymentDeepLinks'
          description: Payment Mobile apps deep links by platform
          nullable: true
      additionalProperties: false
      description: Indicates the payment provider that you can use to pay for an stay at a Parking Entity
    ExceptionsCms:
      type: object
      properties:
        allHolidaysRestrictionExceptionTypeId:
          type: integer
          description: The exception type that applies on every public holiday
          format: int32
          nullable: true
        allHolidaysOperatingHours:
          $ref: '#/components/schemas/OperatingHoursCms'
        daySpecificRestrictionExceptions:
          type: array
          items:
            $ref: '#/components/schemas/DaySpecificRestrictionExceptionCms'
          description: A list of Ylp.Cms.Core.Domain.Model.DaySpecificRestrictionExceptionCms for specific days
          nullable: true
      additionalProperties: false
    AuthorityOkResponse:
      type: object
      properties:
        success:
          type: boolean
          readOnly: true
        result:
          $ref: '#/components/schemas/Authority'
      additionalProperties: false
    GeometryOspFeatureCollection:
      type: object
      properties:
        type:
          type: string
          nullable: true
        features:
          type: array
          items:
            $ref: '#/components/schemas/GeometryOspFeature'
          nullable: true
        properties:
          nullable: true
      additionalProperties: false
    CapabilitiesState:
      type: object
      properties:
        isStaticPubliclyViewable:
          type: boolean
        isMovingPubliclyViewable:
          type: boolean
        isOffStreetPubliclyViewable:
          type: boolean
        acceptChargePointRequests:
          type: boolean
        hideTariffsOnMapSchedules:
          type: boolean
        hideTariffsOnStreets:
          type: boolean
        hideRestrictedSpeedLimitsOnStreets:
          type: boolean
      additionalProperties: false
    BoundingBox:
      type: object
      properties:
        topLeft:
          $ref: '#/components/schemas/LatLng'
        bottomRight:
          $ref: '#/components/schemas/LatLng'
      additionalProperties: false
    Zone:
      type: object
      properties:
        zoneId:
          type: string
          description: GUID of the zone
          nullable: true
        authorityId:
          type: string
          description: GUID of the authority this zone belongs to
          nullable: true
        parentZoneId:
          type: string
          description: GUID of the zone in which this zone is contained (can be null)
          nullable: true
        type:
          $ref: '#/components/schemas/ZoneType'
        name:
          type: string
          description: Name of the zone
          nullable: true
        restrictionTypeDetails:
          type: array
          items:
            $ref: '#/components/schemas/ZoneSetRestrictionDetail'
          description: Default restrictions that apply in this zone
          nullable: true
        notes:
          type: array
          items:
            $ref: '#/components/schemas/NoteCms'
          description: Free text notes applicable to this zone
          nullable: true
        venueId:
          type: string
          description: VenueID to which this zone is associated. This will influence when event day operating hours are in effect
          nullable: true
        sourceTag:
          type: string
          description: Internal tracking code
          nullable: true
        tags:
          type: array
          items:
            type: string
          nullable: true
      additionalProperties: false
    NotFoundResponse:
      type: object
      properties:
        success:
          type: boolean
          readOnly: true
        message:
          type: string
          nullable: true
      additionalProperties: false
    SurchargeType:
      enum:
      - 0
      - 1
      type: integer
      description: '


        *Flat (0)

        *Percentage (1)

        '
      format: int32
    AuthoritySnapshotInfoDoc:
      type: object
      properties:
        ospsUrl:
          type: array
          items:
            $ref: '#/components/schemas/GeometryOspFeatureCollection'
          description: Provides the URL where you can fetch the OSPs as a list of FeatureCollections by Zone ID
          nullable: true
        zonesUrl:
          $ref: '#/components/schemas/PolygonZoneFeatureCollection'
        setsUrl:
          $ref: '#/components/schemas/SetCollection'
        mtfsUrl:
          $ref: '#/components/schemas/MFeatureCollection'
      additionalProperties: false
    FetchAuthorityByIdQuery:
      required:
      - id
      type: object
      properties:
        id:
          minLength: 1
          type: string
          description: Identifier of the Authority to fetch
      additionalProperties: false
    LinkedSet:
      type: object
      properties:
        setGuid:
          type: string
          format: uuid
        setId:
          type: string
          description: GUID of the applicable set.
          nullable: true
      additionalProperties: false
      description: A SetId linked to a particular restriction type on an OSP or Zone entity. The set cannot support Entitlements.
    ExemptionsSet:
      type: object
      properties:
        guid:
          type: string
          format: uuid
        setId:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        formattedName:
          type: string
          nullable: true
          readOnly: true
        exemptions:
          type: array
          items:
            $ref: '#/components/schemas/ExemptionCms'
          nullable: true
      additionalProperties: false
    FullAuthority:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          nullable: true
        regionId:
          type: string
          nullable: true
        countryId:
          type: string
          nullable: true
        authoritySlugs:
          type: array
          items:
            type: string
          nullable: true
        ordnanceSurvey:
          $ref: '#/components/schemas/OrdnanceSurvey'
        hasFreeParkingOutsideZone:
          type: boolean
          nullable: true
        timeZoneId:
          type: string
          description: IANA time zone ID.
          nullable: true
        privacyPolicyUrl:
          type: string
          nullable: true
        paymentProviderId:
          type: string
          description: The default Payment ProviderId for the authority. See the Reference API for more information.
          format: uuid
          nullable: true
        centroid:
          $ref: '#/components/schemas/LatLng'
        boundingBox:
          $ref: '#/components/schemas/BoundingBox'
        fallbackZoneId:
          type: string
          format: uuid
        notes:
          type: array
          items:
            $ref: '#/components/schemas/NoteCms'
          nullable: true
        tags:
          type: array
          items:
            type: string
          nullable: true
        authorityType:
          type: integer
          format: int32
        legalName:
          type: string
          nullable: true
        capabilities:
          $ref: '#/components/schemas/Capabilities'
        capabilitiesState:
          $ref: '#/components/schemas/CapabilitiesState'
        highwayAuthority:
          type: string
          nullable: true
        dataQuality:
          $ref: '#/components/schemas/DataQuality'
        lastTmoUpdate:
          type: string
          format: date-time
          nullable: true
        reviewTerminalIds:
          type: boolean
        shape:
[...]
