openapi: 3.2.0
info:
  title: AppyWay Platform Permitted Vehicles API
  version: '1.0'
  description: AppyWay Platform API allows developers to access a wide range of data related to parking, traffic, and mobility.
servers:
- url: https://api.appyway.com/v1/reference
security:
- apiKey: []
- oAuth2: []
tags:
- name: PermittedVehicles
paths:
  /fetchAllPermittedVehicles:
    post:
      tags:
      - PermittedVehicles
      summary: AppyWay Fetch All Permitted Vehicles
      description: Returns a list with all the permitted vehicles and associated moving restriction types.
      operationId: post-fetchallpermittedvehicles
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermittedVehicleIReadOnlyCollectionOkResponse'
              example:
                success: true
                result:
                - id: 0
                  name: string
                  restrictionTypeIds:
                  - 0
        '304':
          description: Not Modified
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
components:
  responses:
    Forbidden:
      description: Forbidden
    TooManyRequests:
      description: Too many requests
    Unauthorized:
      description: Unauthorized
  schemas:
    PermittedVehicle:
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier
          format: int32
        name:
          type:
          - string
          - 'null'
          description: Name
        restrictionTypeIds:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int32
          description: Identifiers of the Ylp.Reference.Contracts.Model.RestrictionTypes that this vehicle type is applicable to.
      additionalProperties: false
      description: Indicates what vehicle types are permitted to use a feature such as a bus or cycle lane.
    PermittedVehicleIReadOnlyCollectionOkResponse:
      type: object
      properties:
        success:
          type: boolean
          readOnly: true
        result:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/PermittedVehicle'
      additionalProperties: false
  securitySchemes:
    apiKey:
      name: API-KEY
      in: header
      type: apiKey
    oAuth2:
      flows:
        authorizationCode:
          scopes: {}
          authorizationUrl: https://auth.appyway.com/authorize
          tokenUrl: https://auth.appyway.com/oauth/token
      type: oauth2
