openapi: 3.2.0
info:
  title: Appyway Authorities API
  version: '1.0'
  description: 'Operations tagged Authorities across 2 of this provider''s published API definitions: appyway-explorer-api-openapi.yml, appyway-traffic-data-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.appyway.com/v1/explorer
- url: https://api.appyway.com/v1/traffic-data
security:
- apiKey: []
- oAuth2: []
tags:
- name: Authorities
paths:
  /fetchAuthorityById:
    post:
      tags:
      - Authorities
      summary: AppyWay Fetch an authority by ID
      description: Returns a specific authority by its ID
      operationId: post-fetchauthoritybyid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FetchAuthorityByIdQuery'
            example:
              id: string
          text/json:
            schema:
              $ref: '#/components/schemas/FetchAuthorityByIdQuery'
            example:
              id: string
          application/*+json:
            schema:
              $ref: '#/components/schemas/FetchAuthorityByIdQuery'
            example:
              id: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorityOkResponse'
              example:
                success: true
                result:
                  entityId: string
                  name: string
                  eTag: string
                  notes:
                  - message: string
                  paymentProviders:
                  - id: string
                    name: string
                    cardPaymentsExternalUrl: string
                    paymentsTelephone: string
                    paymentsAppDeepLinks: {}
                  entityType: 1
                  countryId: string
                  geometry:
                    type: string
                    crs:
                      type: string
                      properties:
                        name: string
                    geometries:
                    - type: string
                      crs:
                        type: string
                        properties:
                          name: string
                  hasFreeParkingOutsideZone: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
              example:
                success: true
                message: string
        '429':
          $ref: '#/components/responses/TooManyRequests'
    servers:
    - url: https://api.appyway.com/v1/explorer
  /findAuthorityIdsByViewport:
    post:
      tags:
      - Authorities
      summary: AppyWay Find authority ids by viewport
      description: Returns the Ids of authorities that are at least partially within the specified GeoJson viewport.
      operationId: post-findauthorityidsbyviewport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FindAuthorityIdsByViewportQuery'
            example:
              viewport:
                type: string
                crs:
                  type: string
                  properties:
                    name: string
                coordinates:
                - - - 0
          text/json:
            schema:
              $ref: '#/components/schemas/FindAuthorityIdsByViewportQuery'
            example:
              viewport:
                type: string
                crs:
                  type: string
                  properties:
                    name: string
                coordinates:
                - - - 0
          application/*+json:
            schema:
              $ref: '#/components/schemas/FindAuthorityIdsByViewportQuery'
            example:
              viewport:
                type: string
                crs:
                  type: string
                  properties:
                    name: string
                coordinates:
                - - - 0
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthoritySearchResponseOkResponse'
              example:
                success: true
                result:
                  authorities:
                  - entityId: string
                    countryId: string
                    entityETag: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              example:
                success: true
                message: string
                errors:
                - property: string
                  code: string
                  message: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    servers:
    - url: https://api.appyway.com/v1/explorer
  /authorities/getAll:
    get:
      tags:
      - Authorities
      summary: AppyWay Gets the basic authority information for all authorities that you are…
      description: Gets the basic authority information for all authorities that you are entitled to access
      operationId: get-authorities-getall
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AuthorityListResult'
              examples:
                default:
                  value: null
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorityListResult'
              example:
                success: true
                data:
                - id: string
                  name: string
                  regionId: string
                  countryId: string
                  authoritySlugs:
                  - string
                  ordnanceSurvey:
                    apiKey: string
                    license: string
                  hasFreeParkingOutsideZone: true
                  timeZoneId: string
                  privacyPolicyUrl: string
                  paymentProviderId: string
                  centroid:
                    latitude: 0
                    longitude: 0
                  boundingBox:
                    topLeft:
                      latitude: 0
                      longitude: 0
                    bottomRight:
                      latitude: 0
                      longitude: 0
                  fallbackZoneId: string
                  notes:
                  - noteVisibilityTypeId: 0
                    appliesToRestrictionTypeIds:
                    - 0
                    priority: 0
                    title: string
                    message: string
                    url: string
                    telephone: string
                  tags:
                  - string
                  authorityType: 0
                  legalName: string
                  capabilities:
                    allowIsPubliclyViewable: true
                    allowChargePointRequests: true
                    isVisibleOnPublicConsultation: true
                    enableSessionRecordingInternal: true
                    enableSessionRecordingPublic: true
                    inMaintenanceMode: true
                    enableAssets: true
                  capabilitiesState:
                    isStaticPubliclyViewable: true
                    isMovingPubliclyViewable: true
                    isOffStreetPubliclyViewable: true
                    acceptChargePointRequests: true
                    hideTariffsOnMapSchedules: true
                    hideTariffsOnStreets: true
                    hideRestrictedSpeedLimitsOnStreets: true
                  highwayAuthority: string
                  dataQuality: 1
                  lastTmoUpdate: string
                  reviewTerminalIds: true
            text/json:
              schema:
                $ref: '#/components/schemas/AuthorityListResult'
              example:
                success: true
                data:
                - id: string
                  name: string
                  regionId: string
                  countryId: string
                  authoritySlugs:
                  - string
                  ordnanceSurvey:
                    apiKey: string
                    license: string
                  hasFreeParkingOutsideZone: true
                  timeZoneId: string
                  privacyPolicyUrl: string
                  paymentProviderId: string
                  centroid:
                    latitude: 0
                    longitude: 0
                  boundingBox:
                    topLeft:
                      latitude: 0
                      longitude: 0
                    bottomRight:
                      latitude: 0
                      longitude: 0
                  fallbackZoneId: string
                  notes:
                  - noteVisibilityTypeId: 0
                    appliesToRestrictionTypeIds:
                    - 0
                    priority: 0
                    title: string
                    message: string
                    url: string
                    telephone: string
                  tags:
                  - string
                  authorityType: 0
                  legalName: string
                  capabilities:
                    allowIsPubliclyViewable: true
                    allowChargePointRequests: true
                    isVisibleOnPublicConsultation: true
                    enableSessionRecordingInternal: true
                    enableSessionRecordingPublic: true
                    inMaintenanceMode: true
                    enableAssets: true
                  capabilitiesState:
                    isStaticPubliclyViewable: true
                    isMovingPubliclyViewable: true
                    isOffStreetPubliclyViewable: true
                    acceptChargePointRequests: true
                    hideTariffsOnMapSchedules: true
                    hideTariffsOnStreets: true
                    hideRestrictedSpeedLimitsOnStreets: true
                  highwayAuthority: string
                  dataQuality: 1
                  lastTmoUpdate: string
                  reviewTerminalIds: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    servers:
    - url: https://api.appyway.com/v1/traffic-data
  /authorities/getFullBySlug:
    get:
      tags:
      - Authorities
      summary: AppyWay Get Full Authority By Slug
      description: 'Returns an object which has the location of the documents containing the full restrictions of an authority


        The documentation provided here shows the model you will find at these locations. The initial object contains only the URL''s.


        You will have to fetch the documents from the returned authority URL''s'
      operationId: get-authorities-getfullbyslug
      parameters:
      - name: slug
        in: query
        description: The name of the authority. You can find this by making a request to the getAll endpoint
        schema:
          type: string
      - name: maxDate
        in: query
        description: Format - date-time (as date-time in RFC3339). The date at which you wish to view the restrictions
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AuthoritySnapshotInfoDocResult'
              examples:
                default:
                  value: null
            application/json:
              schema:
                $ref: '#/components/schemas/AuthoritySnapshotInfoDocResult'
              example:
                success: true
                data:
                  ospsUrl:
                  - type: string
                    features:
                    - type: string
                      id: string
                      geometry:
                        type: string
                        crs:
                          type: string
                          properties:
                            name: string
                      properties:
                        onStreetParkingId: string
                        zoneId: string
                        authorityId: string
                        address:
                          street: string
                          postcode: string
                          city: string
                          country: string
                        length: 0
                        bays: 0
                        restrictionTypeDetails:
                        - restrictionTypeId: 0
                          operatingHoursSets:
                          - setGuid: string
                            setId: string
                            parkingEntitlementTypeIds:
                            - 0
                          exceptionsSet:
                            setGuid: string
                            setId: string
                          locationNumber: string
                          terminalIds:
                          - string
                          exemptionsSet:
                            setGuid: string
                            setId: string
                          tariffsSet:
                          - setGuid: string
                            setId: string
                            parkingEntitlementTypeIds:
                            - 0
                        notes:
                        - noteVisibilityTypeId: 0
                          appliesToRestrictionTypeIds:
                          - 0
                          priority: 0
                          title: string
                          message: string
                          url: string
                          telephone: string
                        electricPoint:
                          manufacturer: string
                          manufacturerContactNumber: string
                          chargeFee: string
                          website: string
                          electricConnections:
                          - type: 0
                            name: string
                            description: string
                            quantity: 0
                        venueId: string
                        sourceTag: string
                        sensorIds:
                        - string
                        centroid:
                          latitude: 0
                          longitude: 0
                        tags:
                        - string
                        linkedOspIds:
                        - string
                    properties: {}
                  zonesUrl:
                    type: string
                    features:
                    - type: string
                      id: string
                      geometry:
                        type: string
                        crs:
                          type: string
                          properties:
                            name: string
                        coordinates:
                        - - - 0
                      properties:
                        zoneId: string
                        authorityId: string
                        parentZoneId: string
                        type: 1
                        name: string
                        restrictionTypeDetails:
                        - restrictionTypeId: 0
                          operatingHoursSets:
                          - setGuid: string
                            setId: string
                            parkingEntitlementTypeIds:
                            - 0
                          exceptionsSet:
                            setGuid: string
                            setId: string
                        notes:
                        - noteVisibilityTypeId: 0
                          appliesToRestrictionTypeIds:
                          - 0
                          priority: 0
                          title: string
                          message: string
                          url: string
                          telephone: string
                        venueId: string
                        sourceTag: string
                        tags:
                        - string
                    properties: {}
                  setsUrl:
                    operatingHoursSets:
                    - guid: string
                      setId: string
                      name: string
                      formattedName: string
                      operatingHours:
                        standardDays:
                        - ruleTime:
                            months:
                            - 0
                            days:
                            - 0
                            weekNumbers:
                            - 0
                            hours:
                            - start: '2024-10-11'
                              end: '2024-10-11'
                            firstDate:
                              month: 0
                              day: 0
                            lastDate:
                              month: 0
                              day: 0
                          parkingEntitlementTypeIds:
                          - 0
                          maxStay: 0
                          minStay: 0
                          noReturn: 0
                          noReturnUntil: '2024-10-11'
                        eventDays:
                        - ruleTime:
                            months:
                            - 0
                            days:
                            - 0
                            weekNumbers:
                            - 0
                            hours:
                            - start: '2024-10-11'
                              end: '2024-10-11'
                            firstDate:
                              month: 0
                              day: 0
                            lastDate:
                              month: 0
                              day: 0
                          parkingEntitlementTypeIds:
                          - 0
                          maxStay: 0
                          minStay: 0
                          noReturn: 0
                          noReturnUntil: '2024-10-11'
                    exemptionsSets:
                    - guid: string
                      setId: string
                      name: string
                      formattedName: string
                      exemptions:
                      - exemptionTypeId: 0
                        parkingEntitlementTypeId: 0
                        exemptionTimeTypeId: 0
                        exemptionApplies: true
                        maxStay: 0
                        noReturn: 0
                    exceptionsSets:
                    - guid: string
                      setId: string
                      name: string
                      formattedName: string
                      exceptions:
                        allHolidaysRestrictionExceptionTypeId: 0
                        allHolidaysOperatingHours:
                          standardDays:
                          - ruleTime:
                              months:
                              - 0
                              days:
                              - 0
                              weekNumbers:
                              - 0
                              hours:
                              - start: '2024-10-11'
                                end: '2024-10-11'
                              firstDate:
                                month: 0
                                day: 0
                              lastDate:
                                month: 0
                                day: 0
                            parkingEntitlementTypeIds:
                            - 0
                            maxStay: 0
                            minStay: 0
                            noReturn: 0
                            noReturnUntil: '2024-10-11'
                          eventDays:
                          - ruleTime:
                              months:
                              - 0
                              days:
                              - 0
                              weekNumbers:
                              - 0
                              hours:
                              - start: '2024-10-11'
                                end: '2024-10-11'
                              firstDate:
                                month: 0
                                day: 0
                              lastDate:
                                month: 0
                                day: 0
                            parkingEntitlementTypeIds:
                            - 0
                            maxStay: 0
                            minStay: 0
                            noReturn: 0
                            noReturnUntil: '2024-10-11'
                        daySpecificRestrictionExceptions:
                        - publicHolidayOrNamedDayId: string
                          restrictionExceptionTypeId: 0
                          operatingHours:
                            standardDays:
                            - ruleTime:
                                months:
                                - 0
                                days:
                                - 0
                                weekNumbers:
                                - 0
                                hours:
                                - start: '2024-10-11'
                                  end: '2024-10-11'
                                firstDate:
                                  month: 0
                                  day: 0
                                lastDate:
                                  month: 0
                                  day: 0
                              parkingEntitlementTypeIds:
                              - 0
                              maxStay: 0
                              minStay: 0
                              noReturn: 0
                              noReturnUntil: '2024-10-11'
                            eventDays:
                            - ruleTime:
                                months:
                                - 0
                                days:
                                - 0
                                weekNumbers:
                                - 0
                                hours:
                                - start: '2024-10-11'
                                  end: '2024-10-11'
                                firstDate:
                                  month: 0
                                  day: 0
                                lastDate:
                                  month: 0
                                  day: 0
                              parkingEntitlementTypeIds:
                              - 0
                              maxStay: 0
                              minStay: 0
                              noReturn: 0
                              noReturnUntil: '2024-10-11'
                    tariffSets:
                    - guid: string
                      setId: string
                      name: string
                      formattedName: string
                      tariffs:
                      - setName: string
                        parkingEntitlementTypeIds:
                        - 0
                        details:
                        - price: 0
                          surchargeDetail:
                            surchargeType: 0
                            surchargeTypeEnum: 0
                            value: 0
                            notes: string
                            ruleType: 0
                          emissionsAdjustments:
                            emissionsBandSetId: string
                            adjustments:
                            - emissionsBandId: string
                              amount: 0
                              surchargeDetail:
                                surchargeType: 0
                                surchargeTypeEnum: 0
                                value: 0
                                notes: string
                                ruleType: 0
                          duration: 0
                          minimumPriceIncrement: 0
                          singlePaymentCanCrossMidnight: true
                          from: 0
                          upTo: 0
                        timeFrom: '2024-10-11'
                        timeTo: '2024-10-11'
                        firstDate:
                          month: 0
                          day: 0
                        lastDate:
                          month: 0
                          day: 0
                        months:
                        - 0
                        days:
                        - 0
                        timeType: 0
                    emissionsBandSets:
                    - guid: string
                      setId: string
                      name: string
                      formattedName: string
                      emissionsBands:
                      - id: string
                        name: string
                        emissions:
                          min: 0
                          max: 0
                        fuelTypes:
                        - 1
                        registrationYears:
                          min: 0
                          max: 0
                    isEmpty: true
                  mtfsUrl:
                    type: string
                    features:
                    - geoType: string
                      featureId: string
                      featureType: 0
                      authorityId: string
                      note: string
                      streetName: string
                      guid: string
                    properties: {}
            text/json:
              schema:
                $ref: '#/components/schemas/AuthoritySnapshotInfoDocResult'
              example:
                success: true
                data:
                  ospsUrl:
                  - type: string
                    features:
                    - type: string
                      id: string
                      geometry:
                        type: string
                        crs:
                          type: string
                          properties:
                            name: string
                      properties:
                        onStreetParkingId: string
                        zoneId: string
                        authorityId: string
                        address:
                          street: string
                          postcode: string
                          city: string
                          country: string
                        length: 0
                        bays: 0
                        restrictionTypeDetails:
                        - restrictionTypeId: 0
                          operatingHoursSets:
                          - setGuid: string
                            setId: string
                            parkingEntitlementTypeIds:
                            - 0
                          exceptionsSet:
                            setGuid: string
                            setId: string
                          locationNumber: string
                          terminalIds:
                          - string
                          exemptionsSet:
                            setGuid: string
                            setId: string
                          tariffsSet:
                          - setGuid: string
                            setId: string
                            parkingEntitlementTypeIds:
                            - 0
                        notes:
                        - noteVisibilityTypeId: 0
                          appliesToRestrictionTypeIds:
                          - 0
                          priority: 0
                          title: string
                          message: string
                          url: string
                          telephone: string
                        electricPoint:
                          manufacturer: string
                          manufacturerContactNumber: string
                          chargeFee: string
                          website: string
                          electricConnections:
                          - type: 0
                            name: string
                            description: string
                            quantity: 0
                        venueId: string
                        sourceTag: string
                        sensorIds:
                        - string
                        centroid:
                          latitude: 0
                          longitude: 0
                        tags:
                        - string
                        linkedOspIds:
                        - string
                    properties: {}
                  zonesUrl:
                    type: string
                    features:
                    - type: string
                      id: string
                      geometry:
                        type: string
                        crs:
                          type: string
                          properties:
                            name: string
                        coordinates:
                        - - - 0
                      properties:
                        zoneId: string
                        authorityId: string
                        parentZoneId: string
                        type: 1
                        name: string
                        restrictionTypeDetails:
                        - restrictionTypeId: 0
                          operatingHoursSets:
                          - setGuid: string
                            setId: string
                            parkingEntitlementTypeIds:
                            - 0
                          exceptionsSet:
                            setGuid: string
                            setId: string
                        notes:
                        - noteVisibilityTypeId: 0
                          appliesToRestrictionTypeIds:
                          - 0
                          priority: 0
                          title: string
                          message: string
                          url: string
                          telephone: string
                        venueId: string
                        sourceTag: string
                        tags:
                        - string
                    properties: {}
                  setsUrl:
                    operatingHoursSets:
                    - guid: string
                      setId: string
                      name: string
                      formattedName: string
                      operatingHours:
                        standardDays:
                        - ruleTime:
                            months:
                            - 0
                            days:
                            - 0
                            weekNumbers:
                            - 0
                            hours:
                            - start: '2024-10-11'
                              end: '2024-10-11'
                            firstDate:
                              month: 0
                              day: 0
                            lastDate:
                              month: 0
                              day: 0
                          parkingEntitlementTypeIds:
                          - 0
                          maxStay: 0
                          minStay: 0
                          noReturn: 0
                          noReturnUntil: '2024-10-11'
                        eventDays:
                        - ruleTime:
                            months:
                            - 0
                            days:
                            - 0
                            weekNumbers:
                            - 0
                            hours:
                            - start: '2024-10-11'
                              end: '2024-10-11'
                            firstDate:
                              month: 0
                              day: 0
                            lastDate:
                              month: 0
                              day: 0
                          parkingEntitlementTypeIds:
                          - 0
                          maxStay: 0
                          minStay: 0
                          noReturn: 0
                          noReturnUntil: '2024-10-11'
                    exemptionsSets:
                    - guid: string
                      setId: string
                      name: string
                      formattedName: string
                      exemptions:
                      - exemptionTypeId: 0
                        parkingEntitlementTypeId: 0
                        exemptionTimeTypeId: 0
                        exemptionApplies: true
                        maxStay: 0
                        noReturn: 0
                    exceptionsSets:
                    - guid: string
                      setId: string
                      name: string
                      formattedName: string
                      exceptions:
                        allHolidaysRestrictionExceptionTypeId: 0
                        allHolidaysOperatingHours:
                          standardDays:
                          - ruleTime:
                              months:
                              - 0
                              days:
                              - 0
                              weekNumbers:
                              - 0
                              hours:
                              - start: '2024-10-11'
                                end: '2024-10-11'
                              firstDate:
                                month: 0
                                day: 0
                              lastDate:
                                month: 0
                                day: 0
                            parkingEntitlementTypeIds:
                            - 0
                            maxStay: 0
                            minStay: 0
                            noReturn: 0
                            noReturnUntil: '2024-10-11'
                          eventDays:
                          - ruleTime:
                              months:
                              - 0
                              days:
                              - 0
                              weekNumbers:
                              - 0
                              hours:
                              - start: '2024-10-11'
                                end: '2024-10-11'
                              firstDate:
                                month: 0
                                day: 0
                              lastDate:
                                month: 0
                                day: 0
                            parkingEntitlementTypeIds:
                            - 0
                            maxStay: 0
                            minStay: 0
                            noReturn: 0
                            noReturnUntil: '2024-10-11'
                        daySpecificRestrictionExceptions:
                        - publicHolidayOrNamedDayId: string
                          restrictionExceptionTypeId: 0
                          operatingHours:
                            standardDays:
                            - ruleTime:
                                months:
                                - 0
                                days:
                                - 0
                                weekNumbers:
                                - 0
                                hours:
                                - start: '2024-10-11'
                                  end: '2024-10-11'
                                firstDate:
                                  month: 0
                                  day: 0
                                lastDate:
                                  month: 0
                                  day: 0
                              parkingEntitlementTypeIds:
                              - 0
                              maxStay: 0
                              minStay: 0
                              noReturn: 0
                              noReturnUntil: '2024-10-11'
                            eventDays:
                            - ruleTime:
                                months:
                                - 0
                                days:
                                - 0
                                weekNumbers:
                                - 0
                                hours:
                                - start: '2024-10-11'
                                  end: '2024-10-11'
                                firstDate:
                                  month: 0
                                  day: 0
                                lastDate:
                                  month: 0
                                  day: 0
                              parkingEntitlementTypeIds:
                              - 0
                              maxStay: 0
                              minStay: 0
                              noReturn: 0
                              noReturnUntil: '2024-10-11'
                    tariffSets:
                    - guid: string
                      setId: string
                      name: string
                      formattedName: string
                      tariffs:
                      - setName: string
                        parkingEntitlementTypeIds:
                        - 0
                        details:
                        - price: 0
                          surchargeDetail:
                            surchargeType: 0
                            surchargeTypeEnum: 0
                            value: 0
                            notes: string
                            ruleType: 0
                          emissionsAdjustments:
                            emissionsBandSetId: string
                            adjustments:
                            - emissionsBandId: string
                              amount: 0
                              surchargeDetail:
                                surchargeType: 0
                                surchargeTypeEnum: 0
                                value: 0
                                notes: string
                                ruleType: 0
                          duration: 0
                          minimumPriceIncrement: 0
                          singlePaymentCanCrossMidnight: true
                          from: 0
                          upTo: 0
                        timeFrom: '2024-10-11'
                        timeTo: '2024-10-11'
                        firstDate:
                          month: 0
                          day: 0
                        lastDate:
                          month: 0
                          day: 0
                        months:
                        - 0
                        days:
                        - 0
                        timeType: 0
                    emissionsBandSets:
                    - guid: string
                      setId: string
                      name: string
                      formattedName: string
                      emissionsBands:
                      - id: string
                        name: string
                        emissions:
                          min: 0
                          max: 0
                        fuelTypes:
                        - 1
                        registrationYears:
                          min: 0
                          max: 0
                    isEmpty: true
                  mtfsUrl:
                    type: string
                    features:
                    - geoType: string
                      featureId: string
                      featureType: 0
                      authorityId: string
                      note: string
                      streetName: string
                      guid: string
                    properties: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    servers:
    - url: https://api.appyway.com/v1/traffic-data
  /fetchAllAuthorities:
    post:
      tags:
      - Authorities
      summary: AppyWay Fetch basic authority information for all authorities that you are…
      description: Fetch basic authority information for all authorities that you are entitled to access
      operationId: post-fetchallauthorities
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AuthorityIReadOnlyCollectionOkResponse'
              examples:
                default:
                  value: null
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorityIReadOnlyCollectionOkResponse'
              example:
                success: true
                result:
                - id: string
                  name: string
                  regionId: string
                  countryId: string
                  authoritySlugs:
                  - string
                  ordnanceSurvey:
                    apiKey: string
                    license: string
                  hasFreeParkingOutsideZone: true
                  timeZoneId: string
                  privacyPolicyUrl: string
                  paymentProviderId: string
                  centroid:
                    latitude: 0
                    longitude: 0
                  boundingBox:
                    topLeft:
                      latitude: 0
                      longitude: 0
                    bottomRight:
                      latitude: 0
                      longitude: 0
                  fallbackZoneId: string
                  notes:
                  - noteVisibilityTypeId: 0
                    appliesToRestrictionTypeIds:
                    - 0
                    priority: 0
                    title: string
                    message: string
                    url: string
                    telephone: string
                  tags:
                  - string
                  authorityType: 0
                  legalName: string
                  capabilities:
                    allowIsPubliclyViewable: true
                    allowChargePointRequests: true
                    isVisibleOnPublicConsultation: true
                    enableSessionRecordingInternal: true
                    enableSessionRecordingPublic: true
                    inMaintenanceMode: true
                    enableAssets: true
                  capabilitiesState:
                    isStaticPubliclyViewable: true
                    isMovingPubliclyViewable: true
                    isOffStreetPubliclyViewable: true
                    acceptChargePointRequests: true
                    hideTariffsOnMapSchedules: true
                    hideTariffsOnStreets: true
                    hideRestrictedSpeedLimitsOnStreets: true
                  highwayAuthority: string
                  dataQuality: 1
                  lastTmoUpdate: string
                  reviewTerminalIds: true
            text/json:
              schema:
                $ref: '#/components/schemas/AuthorityIReadOnlyCollectionOkResponse'
              example:
                success: true
                result:
                - id: string
                  name: string
                  regionId: string
                  countryId: string
                  authoritySlugs:
                  - string
                  ordnanceSurvey:
                    apiKey: string
                    license: string
                  hasFreeParkingOutsideZone: true
                  timeZoneId: string
                  privacyPolicyUrl: string
                  paymentProviderId: string
                  centroid:
                    latitude: 0
                    longitude: 0
                  boundingBox:
                    topLeft:
                      latitude: 0
                      longitude: 0
                    bottomRight:
                      latitude: 0
                      longitude: 0
                  fallbackZoneId: string
                  notes:
                  - noteVisibilityTypeId: 0
                    appliesToRestrictionTypeIds:
                    - 0
                    priority: 0
                    title: string
                    message: string
                    url: string
                    telephone: string
                  tags:
                  - string
                  authorityType: 0
                  legalName: string
                  capabilities:
                    allowIsPubliclyViewable: true
                    allowChargePointRequests: true
                    isVisibleOnPublicConsultation: true
                    enableSessionRecordingInternal: true
                    enableSessionRecordingPublic: true
                    inMaintenanceMode: true
                    enableAssets: true
                  capabilitiesState:
                    isStaticPubliclyViewable: true
                    isMovingPubliclyViewable: true
                    isOffStreetPubliclyViewable: true
                    acceptChargePointRequests: true
                    hideTariffsOnMapSchedules: true
                    hideTariffsOnStreets: true
                    hideRestrictedSpeedLimitsOnStreets: true
                  highwayAuthority: string
                  dataQuality: 1
                  lastTmoUpdate: string
                  reviewTerminalIds: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    servers:
    - url: https://api.appyway.com/v1/traffic-data
  /fetchFullAuthorityBySlug:
    post:
      tags:
      - Authorities
      summary: AppyWay Fetch the basic authority information by slug
      description: Returns the the basic authority information by slug (authority name)
      operationId: post-fetchfullauthoritybyslug
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/FetchFullAuthorityBySlugQuery'
            example:
              slug: string
          application/json:
            schema:
              $ref: '#/components/schemas/FetchFullAuthorityBySlugQuery'
            example:
              slug: string
          text/json:
            schema:
              $ref: '#/components/schemas/FetchFullAuthorityBySlugQuery'
            example:
              slug: string
          application/*+json:
            schema:
              $ref: '#/components/schemas/FetchFullAuthorityBySlugQuery'
            example:
              slug: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FullAuthorityOkResponse'
              examples:
                default:
                  value: null
            application/json:
              schema:
                $ref: '#/components/schemas/FullAuthorityOkResponse'
              example:
                success: true
                result:
                  id: string
                  name: string
                  regionId: string
                  countryId: string
                  authoritySlugs:
                  - string
                  ordnanceSurvey:
                    apiKey: string
                    license: string
                  hasFreeParkingOutsideZone: true
                  timeZoneId: string
                  privacyPolicyUrl: string
                  paymentProviderId: string
                  centroid:
                    latitude: 0
                    longitude: 0
                  boundingBox:
                    topLeft:
                      latitude: 0
                      longitude: 0
                    bottomRight:
                      latitude: 0
                      longitude: 0
                  fallbackZoneId: string
                  notes:
                  - noteVisibilityTypeId: 0
                    appliesToRestrictionTypeIds:
                    - 0
                    priority: 0
                    title: string
                    message: string
                    url: string
                    telephone: string
                  tags:
                  - string
                  authorityType: 0
                  legalName: string
                  capabilities:
                    allowIsPubliclyViewable: true
                    allowChargePointRequests: true
                    isVisibleOnPublicConsultation: true
                    enableSessionRecordingInternal: true
                    enableSessionRecordingPublic: true
                    inMaintenanceMode: true
                    enableAssets: true
                  capabilitiesState:
                    isStaticPubliclyViewable: true
                    isMovingPubliclyViewable: true
                    isOffStreetPubliclyViewable: true
                    acceptChargePointRequests: true
                    hideTariffsOnMapSchedules: true
                    hideTariffsOnStreets: true
                    hideRestrictedSpeedLimitsOnStreets: true
                  highwayAuthority: string
                  dataQuality: 1
                  lastTmoUpdate: string
                  reviewTerminalIds: true
                  shape:
                    type: string
                    crs:
                      type: string
                      properties:
                        name: string
                    coordinates:
                    - - - 0
            text/json:
              schema:
                $ref: '#/components/schemas/FullAuthorityOkResponse'
              example:
                success: true
                result:
                  id: string
                  name: string
                  regionId: string
                  countryId: string
                  authoritySlugs:
                  - string
                  ordnanceSurvey:
                    apiKey: string
                    license: string
                  hasFreeParkingOutsideZone: true
                  timeZoneId: string
                  privacyPolicyUrl: string
                  paymentProviderId: string
                  centroid:
                    latitude: 0
                    longitude: 0
                  boundingBox:
                    topLeft:
                      latitude: 0
                      longitude: 0
                    bottomRight:
                      latitude: 0
                      longitude: 0
                  fallbackZoneId: string
                  notes:
                  - noteVisibilityTypeId: 0
                    appliesToRestrictionTypeIds:
                    - 0
                    priority: 0
                    title: string
                    message: string
                    url: string
                    telephone: string
                  tags:
                  - string
                  authorityType: 0
                  legalName: string
                  capabilities:
                    allowIsPubliclyViewable: true
                    allowChargePointRequests: true
                    isVisibleOnPublicConsultation: true
                    enableSessionRecordingInternal: true
                    enableSessionRecordingPublic: true
                    inMaintenanceMode: true
                    enableAssets: true
                  capabilitiesState:
                    isStaticPubliclyViewable: true
                    isMovingPubliclyViewable: true
                    isOffStreetPubliclyViewable: true
                    acceptChargePointRequests: true
                    hideTariffsOnMapSchedules: true
                    hideTariffsOnStreets: true
                    hideRestrictedSpeedLimitsOnStreets: true
                  highwayAuthority: string
                  dataQuality: 1
                  lastTmoUpdate: string
                  reviewTerminalIds: true
                  shape:
                    type: string
                    crs:
                      type: string
                      properties:
                        name: string
                    coordinates:
                    - - - 0
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              examples:
                default:
                  value: null
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              example:
                success: true
                message: string
                errors:
                - property: string
                  code: string
                  message: string
            text/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              example:
                success: true
                message: string
                errors:
                - property: string
                  code: string
                  message: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    servers:
    - url: https://api.appyway.com/v1/traffic-data
  /fetchFullAuthorityInfoBySlug:
    post:
      tags:
      - Authorities
      summary: AppyWay Fetch Full Authority By Slug
      description: 'Returns an object which has the location of the documents containing the full restrictions of an authority


        The documentation provided here shows the model you will find at these locations. The initial object contains only the URL''s.


        You will have to fetch the documents from the returned authority URL''s'
      operationId: post-fetchfullauthorityinfobyslug
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/FetchFullAuthorityInfoBySlugQuery'
            example:
              slug: string
              maxDate: string
          application/json:
            schema:
              $ref: '#/components/schemas/FetchFullAuthorityInfoBySlugQuery'
            example:
              slug: string
              maxDate: string
          text/json:
            schema:
              $ref: '#/components/schemas/FetchFullAuthorityInfoBySlugQuery'
            example:
              slug: string
              maxDate: string
          application/*+json:
            schema:
              $ref: '#/components/schemas/FetchFullAuthorityInfoBySlugQuery'
            example:
              slug: string
              maxDate: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AuthoritySnapshotInfoDocOkResponse'
              examples:
                default:
                  value: null
            application/json:
              schema:
                $ref: '#/components/schemas/AuthoritySnapshotInfoDocOkResponse'
              example:
                success: true
                result:
                  ospsUrl:
                  - type: string
                    features:
                    - type: string
                      id: string
                      geometry:
                        type: string
                        crs:
                          type: string
                          properties:
                            name: string
                      properties:
                        onStreetParkingId: string
                        zoneId: string
                        authorityId: string
                        address:
                          street: string
                          postcode: string
                          city: string
                          country: string
                        length: 0
                        bays: 0
                        restrictionTypeDetails:
                        - restrictionTypeId: 0
                          operatingHoursSets:
                          - setGuid: string
                            setId: string
                            parkingEntitlementTypeIds:
                            - 0
                          exceptionsSet:
                            setGuid: string
                            setId: string
                          locationNumber: string
                          terminalIds:
                          - string
                          exemptionsSet:
                            setGuid: string
                            setId: string
                          tariffsSet:
                          - setGuid: string
                            setId: string
                            parkingEntitlementTypeIds:
                            - 0
                        notes:
                        - noteVisibilityTypeId: 0
                          appliesToRestrictionTypeIds:
                          - 0
                          priority: 0
                          title: string
                          message: string
                          url: string
                          telephone: string
                        electricPoint:
                          manufacturer: string
                          manufacturerContactNumber: string
                          chargeFee: string
                          website: string
                          electricConnections:
                          - type: 0
                            name: string
                            description: string
                            quantity: 0
                        venueId: string
                        sourceTag: string
                        sensorIds:
                        - string
                        centroid:
                          latitude: 0
                          longitude: 0
                        tags:
                        - string
                        linkedOspIds:
                        - string
                    properties: {}
                  zonesUrl:
                    type: string
                    features:
                    - type: string
                      id: string
                      geometry:
                        type: string
                        crs:
                          type: string
                          properties:
                            name: string
                        coordinates:
                        - - - 0
                      properties:
                        zoneId: string
                        authorityId: string
                        parentZoneId: string
                        type: 1
                        name: string
                        restrictionTypeDetails:
                        - restrictionTypeId: 0
                          operatingHoursSets:
                          - setGuid: string
                            setId: string
                            parkingEntitlementTypeIds:
                            - 0
                          exceptionsSet:
                            setGuid: string
                            setId: string
                        notes:
                        - noteVisibilityTypeId: 0
                          appliesToRestrictionTypeIds:
                          - 0
                          priority: 0
                          title: string
                          message: string
                          url: string
                          telephone: string
                        venueId: string
                        sourceTag: string
                        tags:
                        - string
                    properties: {}
                  setsUrl:
                    operatingHoursSets:
                    - guid: string
                      setId: string
                      name: string
                      formattedName: string
                      operatingHours:
                        standardDays:
                        - ruleTime:
                            months:
                            - 0
                            days:
                            - 0
                            weekNumbers:
                            - 0
                            hours:
                            - start: '2024-10-11'
                              end: '2024-10-11'
                            firstDate:
                              month: 0
                              day: 0
                            lastDate:
                              month: 0
                              day: 0
                          parkingEntitlementTypeIds:
                          - 0
                          maxStay: 0
                          minStay: 0
                          noReturn: 0
                          noReturnUntil: '2024-10-11'
                        eventDays:
                        - ruleTime:
                            months:
                            - 0
                            days:
                            - 0
                            weekNumbers:
                            - 0
                            hours:
                            - start: '2024-10-11'
                              end: '2024-10-11'
                            firstDate:
                              month: 0
                              day: 0
                            lastDate:
                              month: 0
                              day: 0
                          parkingEntitlementTypeIds:
                          - 0
                          maxStay: 0
                          minStay: 0
                          noReturn: 0
                          noReturnUntil: '2024-10-11'
                    exemptionsSets:
                    - guid: string
                      setId: string
                      name: string
                      formattedName: string
                      exemptions:
                      - exemptionTypeId: 0
                        parkingEntitlementTypeId: 0
                        exemptionTimeTypeId: 0
                        exemptionApplies: true
                        maxStay: 0
                        noReturn: 0
                    exceptionsSets:
                    - guid: string
                      setId: string
                      name: string
                      formattedName: string
                      exceptions:
                        allHolidaysRestrictionExceptionTypeId: 0
                        allHolidaysOperatingHours:
                          standardDays:
                          - ruleTime:
                              months:
                              - 0
                              days:
                              - 0
                              weekNumbers:
                              - 0
                              hours:
                              - start: '2024-10-11'
                                end: '2024-10-11'
                              firstDate:
                                month: 0
                                day: 0
                              lastDate:
                                month: 0
                                day: 0
                            parkingEntitlementTypeIds:
                            - 0
                            maxStay: 0
                            minStay: 0
                            noReturn: 0
                            noReturnUntil: '2024-10-11'
                          eventDays:
                          - ruleTime:
                              months:
                              - 0
                              days:
                              - 0
                              weekNumbers:
                              - 0
                              hours:
                              - start: '2024-10-11'
                                end: '2024-10-11'
                              firstDate:
                                month: 0
                                day: 0
                              lastDate:
                                month: 0
                                day: 0
                            parkingEntitlementTypeIds:
                            - 0
                            maxStay: 0
                            minStay: 0
                            noReturn: 0
                            noReturnUntil: '2024-10-11'
                        daySpecificRestrictionExceptions:
                        - publicHolidayOrNamedDayId: string
                          restrictionExceptionTypeId: 0
                          operatingHours:
                            standardDays:
                            - ruleTime:
                                months:
                                - 0
                                days:
                                - 0
                                weekNumbers:
                                - 0
                                hours:
                                - start: '2024-10-11'
                                  end: '2024-10-11'
                                firstDate:
                                  month: 0
                                  day: 0
                                lastDate:
                                  month: 0
                                  day: 0
                              parkingEntitlementTypeIds:
                              - 0
                              maxStay: 0
                              minStay: 0
                              noReturn: 0
                              noReturnUntil: '2024-10-11'
                            eventDays:
                            - ruleTime:
                                months:
                                - 0
                                days:
                                - 0
                                weekNumbers:
                                - 0
                                hours:
                                - start: '2024-10-11'
                                  end: '2024-10-11'
                                firstDate:
                                  month: 0
                                  day: 0
                                lastDate:
                                  month: 0
                                  day: 0
                              parkingEntitlementTypeIds:
                              - 0
                              maxStay: 0
                              minStay: 0
                              noReturn: 0
                              noReturnUntil: '2024-10-11'
                    tariffSets:
                    - guid: string
                      setId: string
                      name: string
                      formattedName: string
                      tariffs:
                      - setName: string
                        parkingEntitlementTypeIds:
                        - 0
                        details:
                        - price: 0
                          surchargeDetail:
                            surchargeType: 0
                            surchargeTypeEnum: 0
                            value: 0
                            notes: string
                            ruleType: 0
                          emissionsAdjustments:
                            emissionsBandSetId: string
                            adjustments:
                            - emissionsBandId: string
                              amount: 0
                              surchargeDetail:
                                surchargeType: 0
                                surchargeTypeEnum: 0
                                value: 0
                                notes: string
                                ruleType: 0
                          duration: 0
                          minimumPriceIncrement: 0
                          singlePaymentCanCrossMidnight: true
                          from: 0
                          upTo: 0
                        timeFrom: '2024-10-11'
                        timeTo: '2024-10-11'
                        firstDate:
                          month: 0
                          day: 0
                        lastDate:
                          month: 0
                          day: 0
                        months:
                        - 0
                        days:
                        - 0
                        timeType: 0
                    emissionsBandSets:
                    - guid: string
                      setId: string
                      name: string
                      formattedName: string
                      emissionsBands:
                      - id: string
                        name: string
                        emissions:
                          min: 0
                          max: 0
                        fuelTypes:
                        - 1
                        registrationYears:
                          min: 0
                          max: 0
                    isEmpty: true
                  mtfsUrl:
                    type: string
                    features:
                    - geoType: string
                      featureId: string
                      featureType: 0
                      authorityId: string
                      note: string
                      streetName: string
                      guid: string
                    properties: {}
            text/json:
              schema:
                $ref: '#/components/schemas/AuthoritySnapshotInfoDocOkResponse'
              example:
                success: true
                result:
                  ospsUrl:
                  - type: string
                    features:
                    - type: string
                      id: string
                      geometry:
                        type: string
                        crs:
                          type: string
                          properties:
                            name: string
                      properties:
                        onStreetParkingId: string
                        zoneId: string
                        authorityId: string
                        address:
                          street: string
                          postcode: string
                          city: string
                          country: string
                        length: 0
                        bays: 0
                        restrictionTypeDetails:
                        - restrictionTypeId: 0
                          operatingHoursSets:
                          - setGuid: string
                            setId: string
                            parkingEntitlementTypeIds:
                            - 0
                          exceptionsSet:
                            setGuid: string
                            setId: string
                          locationNumber: string
                          terminalIds:
                          - string
                          exemptionsSet:
                            setGuid: string
                            setId: string
                          tariffsSet:
                          - setGuid: string
                            setId: string
                            parkingEntitlementTypeIds:
                            - 0
                        notes:
                        - noteVisibilityTypeId: 0
                          appliesToRestrictionTypeIds:
                          - 0
                          priority: 0
                          title: string
                          message: string
                          url: string
                          telephone: string
                        electricPoint:
                          manufacturer: string
                          manufacturerContactNumber: string
                          chargeFee: string
                          website: string
                          electricConnections:
                          - type: 0
                            name: string
                            description: string
                            quantity: 0
                        venueId: string
                        sourceTag: string
                        sensorIds:
                        - string
                        centroid:
                          latitude: 0
                          longitude: 0
                        tags:
                        - string
                        linkedOspIds:
                        - string
                    properties: {}
                  zonesUrl:
                    type: string
                    features:
                    - type: string
                      id: string
                      geometry:
                        type: string
                        crs:
                          type: string
                          properties:
                            name: string
                        coordinates:
                        - - - 0
                      properties:
                        zoneId: string
                        authorityId: string
                        parentZoneId: string
                        type: 1
                        name: string
                        restrictionTypeDetails:
                        - restrictionTypeId: 0
                          operatingHoursSets:
                          - setGuid: string
                            setId: string
                            parkingEntitlementTypeIds:
                            - 0
                          exceptionsSet:
                            setGuid: string
                            setId: string
                        notes:
                        - noteVisibilityTypeId: 0
                          appliesToRestrictionTypeIds:
                          - 0
                          priority: 0
                          title: string
                          message: string
                          url: string
                          telephone: string
                        venueId: string
                        sourceTag: string
                        tags:
                        - string
                    properties: {}
                  setsUrl:
                    operatingHoursSets:
                    - guid: string
                      setId: string
                      name: string
                      formattedName: string
                      operatingHours:
                        standardDays:
                        - ruleTime:
                            months:
                            - 0
                            days:
                            - 0
                            weekNumbers:
                            - 0
                            hours:
                            - start: '2024-10-11'
                              end: '2024-10-11'
                            firstDate:
                              month: 0
                              day: 0
                            lastDate:
                              month: 0
                              day: 0
                          parkingEntitlementTypeIds:
                          - 0
                          maxStay: 0
                          minStay: 0
                          noReturn: 0
                          noReturnUntil: '2024-10-11'
                        eventDays:
                        - ruleTime:
                            months:
                            - 0
                            days:
                            - 0
                            weekNumbers:
                            - 0
                            hours:
                            - start: '2024-10-11'
                              end: '2024-10-11'
                            firstDate:
                              month: 0
                              day: 0
                            lastDate:
                              month: 0
                              day: 0
                          parkingEntitlementTypeIds:
                          - 0
                          maxStay: 0
                          minStay: 0
                          noReturn: 0
                          noReturnUntil: '2024-10-11'
                    exemptionsSets:
                    - guid: string
                      setId: string
                      name: string
                      formattedName: string
                      exemptions:
                      - exemptionTypeId: 0
                        parkingEntitlementTypeId: 0
                        exemptionTimeTypeId: 0
                        exemptionApplies: true
                        maxStay: 0
                        noReturn: 0
                    exceptionsSets:
                    - guid: string
                      setId: string
                      name: string
                      formattedName: string
                      exceptions:
                        allHolidaysRestrictionExceptionTypeId: 0
                        allHolidaysOperatingHours:
                          standardDays:
                          - ruleTime:
                              months:
                              - 0
                              days:
                              - 0
                              weekNumbers:
                              - 0
                              hours:
                              - start: '2024-10-11'
                                end: '2024-10-11'
                              firstDate:
                                month: 0
                                day: 0
                              lastDate:
                                month: 0
                                day: 0
                            parkingEntitlementTypeIds:
                            - 0
                            maxStay: 0
                            minStay: 0
                            noReturn: 0
                            noReturnUntil: '2024-10-11'
                          eventDays:
                          - ruleTime:
                              months:
                              - 0
                              days:
                              - 0
                              weekNumbers:
                              - 0
                              hours:
                              - start: '2024-10-11'
                                end: '2024-10-11'
                              firstDate:
                                month: 0
                                day: 0
                              lastDate:
                                month: 0
                                day: 0
                            parkingEntitlementTypeIds:
                            - 0
                            maxStay: 0
                            minStay: 0
                            noReturn: 0
                            noReturnUntil: '2024-10-11'
                        daySpecificRestrictionExceptions:
                        - publicHolidayOrNamedDayId: string
                          restrictionExceptionTypeId: 0
                          operatingHours:
                            standardDays:
                            - ruleTime:
                                months:
                                - 0
                                days:
                                - 0
                                weekNumbers:
                                - 0
                                hours:
                                - start: '2024-10-11'
                                  end: '2024-10-11'
                                firstDate:
                                  month: 0
                                  day: 0
                                lastDate:
                                  month: 0
                                  day: 0
                              parkingEntitlementTypeIds:
                              - 0
                              maxStay: 0
                              minStay: 0
                              noReturn: 0
                              noReturnUntil: '2024-10-11'
                            eventDays:
                            - ruleTime:
                                months:
                                - 0
                                days:
                                - 0
                                weekNumbers:
                                - 0
                                hours:
                                - start: '2024-10-11'
                                  end: '2024-10-11'
                                firstDate:
                                  month: 0
                                  day: 0
                                lastDate:
                                  month: 0
                                  day: 0
                              parkingEntitlementTypeIds:
                              - 0
                              maxStay: 0
                              minStay: 0
                              noReturn: 0
                              noReturnUntil: '2024-10-11'
                    tariffSets:
                    - guid: string
                      setId: string
                      name: string
                      formattedName: string
                      tariffs:
                      - setName: string
                        parkingEntitlementTypeIds:
                        - 0
                        details:
                        - price: 0
                          surchargeDetail:
                            surchargeType: 0
                            surchargeTypeEnum: 0
                            value: 0
                            notes: string
                            ruleType: 0
                          emissionsAdjustments:
                            emissionsBandSetId: string
                            adjustments:
                            - emissionsBandId: string
                              amount: 0
                              surchargeDetail:
                                surchargeType: 0
                                surchargeTypeEnum: 0
                                value: 0
                                notes: string
                                ruleType: 0
                          duration: 0
                          minimumPriceIncrement: 0
                          singlePaymentCanCrossMidnight: true
                          from: 0
                          upTo: 0
                        timeFrom: '2024-10-11'
                        timeTo: '2024-10-11'
                        firstDate:
                          month: 0
                          day: 0
                        lastDate:
                          month: 0
                          day: 0
                        months:
                        - 0
                        days:
                        - 0
                        timeType: 0
                    emissionsBandSets:
                    - guid: string
                      setId: string
                      name: string
                      formattedName: string
                      emissionsBands:
                      - id: string
                        name: string
                        emissions:
                          min: 0
                          max: 0
                        fuelTypes:
                        - 1
                        registrationYears:
                          min: 0
                          max: 0
                    isEmpty: true
                  mtfsUrl:
                    type: string
                    features:
                    - geoType: string
                      featureId: string
                      featureType: 0
                      authorityId: string
                      note: string
                      streetName: string
                      guid: string
                    properties: {}
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              examples:
                default:
                  value: null
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              example:
                success: true
                message: string
                errors:
                - property: string
                  code: string
                  message: string
            text/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              example:
                success: true
                message: string
                errors:
                - property: string
                  code: string
                  message: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    servers:
    - url: https://api.appyway.com/v1/traffic-data
components:
  responses:
    Forbidden:
      description: Forbidden
    TooManyRequests:
      description: Too many requests
    Unauthorized:
      description: Unauthorized
  schemas:
    Geometry:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        crs:
          $ref: '#/components/schemas/Crs'
      additionalProperties: false
    FetchAuthorityByIdQuery:
      required:
      - id
      type: object
      properties:
        id:
          minLength: 1
          type: string
          description: Identifier of the Authority to fetch
      additionalProperties: false
    FindAuthorityIdsByViewportQuery:
      required:
      - viewport
      type: object
      properties:
        viewport:
          type: object
          properties:
            type:
              type:
              - string
              - 'null'
            crs:
              $ref: '#/components/schemas/Crs'
            coordinates:
              type:
              - array
              - 'null'
              items:
                type: array
                items:
                  type: array
                  items:
                    type: number
                    format: double
          additionalProperties: false
          description: Viewport for the query, expressed as a GeoJson polygon !:https://tools.ietf.org/html/rfc7946#section-3.1.6. Required. Limited to 300km2.
      additionalProperties: false
      description: A request to search for zone default information by viewport
    PaymentDeepLinks:
      type: object
      properties:
        schemas:
          type:
          - array
          - 'null'
          items:
            type: string
          description: 'Deep link schemas (eg: ringgo://, etc)'
        packageName:
          type:
          - string
          - 'null'
          description: 'Deep link package name (only applies to android, eg: co.uk.ringgo.android)'
      additionalProperties: false
    AuthorityOkResponse:
      type: object
      properties:
        success:
          type: boolean
          readOnly: true
        result:
          $ref: '#/components/schemas/Authority'
      additionalProperties: false
    PaymentProvider:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
          description: Unique identifier (if the payment provider is present on Reference API)
        name:
          type:
          - string
          - 'null'
          description: Provider name
        cardPaymentsExternalUrl:
          type:
          - string
          - 'null'
          description: URL for taking payments (if online payments are supported)
        paymentsTelephone:
          type:
          - string
          - 'null'
          description: Phone number for taking payments (if pay-by-phone is supported)
        paymentsAppDeepLinks:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/PaymentDeepLinks'
          description: Payment Mobile apps deep links by platform
      additionalProperties: false
      description: Indicates the payment provider that you can use to pay for an stay at a Parking Entity
    GeometryCollection:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        crs:
          $ref: '#/components/schemas/Crs'
        geometries:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Geometry'
      additionalProperties: false
    Error:
      type: object
      properties:
        property:
          type:
          - string
          - 'null'
        code:
          type:
          - string
          - 'null'
        message:
          type:
          - string
          - 'null'
      additionalProperties: false
    Note:
      type: object
      properties:
        message:
          type:
          - string
          - 'null'
          description: The text of the note
      additionalProperties: false
      description: Models a note that can be attached to an entity
    AuthoritySearchResponseOkResponse:
      type: object
      properties:
        success:
          type: boolean
          readOnly: true
        result:
          $ref: '#/components/schemas/AuthoritySearchResponse'
      additionalProperties: false
    Crs:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        properties:
          $ref: '#/components/schemas/CrsProperties'
      additionalProperties: false
    AuthoritySearchResult:
      type: object
      properties:
        entityId:
          type:
          - string
          - 'null'
          description: Entity ID of the authority referred to by this result
        countryId:
          type:
          - string
          - 'null'
          description: Country ID of the authority referred to by this result
        entityETag:
          type:
          - string
          - 'null'
          description: 'The Etag of the current latest version of the Authority referred to by this result. This allows

            clients to determine if they have the latest version of the authority in their local cache and only

            request the entity if it is missing.'
      additionalProperties: false
    MapEntityType:
      enum:
      - 1
      - 2
      - 3
      - 4
      type: integer
      description: 'Enumeration for the different types of Map Entity - objects returned by the API that can be drawn on a map.


        *OnStreet (1) - An on-street parking area

        *Carpark (2) - An off-street parking facility (car park) including surface and multi-storey car parks.

        *Zone (3) - A zone is an area defined by the local authority that acts as a container for a set of On-Street and Car park entities.

        A zone may define common parking rules that are applicable generally across parts of the kerb (e.g. Single Yellow Lines) and may

        define rules parking entities that can be overridden by individual entities.

        *Authority (4) - Defines the area controlled by a particular local authority. Authorities may contain zones and may also contain parking entities directly.

        '
      format: int32
    Authority:
      type: object
      properties:
        entityId:
          type:
          - string
          - 'null'
          description: Unique identifier for this entity
        name:
          type:
          - string
          - 'null'
          description: User-readable name for this entity
        eTag:
          type:
          - string
          - 'null'
          description: 'ETag for the entity. The ETag is specific to each version of this entity and changes whenever the entity data changes. Clients can

            send the eTags of cached entities to the server when requesting data and the server can return only entities for which the current ETag does

            not match the requested tag - i.e. just those entities that have changed.'
        notes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Note'
          description: Any special notes associated with this authority
        paymentProviders:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/PaymentProvider'
        entityType:
          $ref: '#/components/schemas/MapEntityType'
        countryId:
          type:
          - string
          - 'null'
          description: ID of the country in which the authority resides
        geometry:
          $ref: '#/components/schemas/GeometryCollection'
        hasFreeParkingOutsideZone:
          type:
          - boolean
          - 'null'
          description: "This flag gives an indication of whether parking is likely to be available outside of designated\ncontrolled parking zones. The flag indicates the availability of parking for sections of the kerb where\nthis API does NOT return a specific OnStreetParking result. If TRUE, parking is likely to be free and\nunrestricted where the Parking Search results do not indicate otherwise. if FALSE, it is likely to be no parking.\n            \nThis is an indication only, and clients should inform their end users that they should always check local\nsignage when parking.\n            \nIf NULL, it is not known whether parking is available for this authority outside of designated zones.\n            \nNOTE that inside controlled parking zones, it is likely that parking is not available in areas where no\nOnStreetParking result is returned."
      additionalProperties: false
      description: Defines the area controlled by a particular local authority. Authorities may contain zones and may also contain parking entities directly.
    AuthoritySearchResponse:
      type: object
      properties:
        authorities:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AuthoritySearchResult'
          description: List of search results returned in this response
      additionalProperties: false
      description: Response shape for authority search requests
    BadRequestResponse:
      type: object
      properties:
        success:
          type: boolean
          readOnly: true
        message:
          type:
          - string
          - 'null'
        errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Error'
      additionalProperties: false
    CrsProperties:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
      additionalProperties: false
    NotFoundResponse:
      type: object
      properties:
        success:
          type: boolean
          readOnly: true
        message:
          type:
          - string
          - 'null'
      additionalProperties: false
    RuleTimeCms:
      type: object
      properties:
        months:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int32
        days:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int32
          description: Applicable Days
        weekNumbers:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int32
          description: Week number to apply Days
        hours:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/HoursCms'
        firstDate:
          $ref: '#/components/schemas/MonthAndDayCms'
        lastDate:
          $ref: '#/components/schemas/MonthAndDayCms'
      additionalProperties: false
    Polygon:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        crs:
          $ref: '#/components/schemas/Crs'
        coordinates:
          type:
          - array
          - 'null'
          items:
            type: array
            items:
              type: array
              items:
                type: number
                format: double
      additionalProperties: false
    OperatingHoursCms:
      type: object
      properties:
        standardDays:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RuleCms'
          description: List of Ylp.Cms.Core.Domain.Model.RuleCms applicable on normal days
        eventDays:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RuleCms'
          description: List of Ylp.Cms.Core.Domain.Model.RuleCms applicable on event days in an associated venue
      additionalProperties: false
    ExceptionsCms:
      type: object
      properties:
        allHolidaysRestrictionExceptionTypeId:
          type:
          - integer
          - 'null'
          description: The exception type that applies on every public holiday
          format: int32
        allHolidaysOperatingHours:
          $ref: '#/components/schemas/OperatingHoursCms'
        daySpecificRestrictionExceptions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/DaySpecificRestrictionExceptionCms'
          description: A list of Ylp.Cms.Core.Domain.Model.DaySpecificRestrictionExceptionCms for specific days
      additionalProperties: false
    DataQuality:
      enum:
      - 1
      - 2
      - 3
      - 4
      type: integer
      description: '


        *HdPlus (1)
[...]
