openapi: 3.2.0
info:
  title: AppyWay Platform Zone Types API
  version: '1.0'
  description: AppyWay Platform API allows developers to access a wide range of data related to parking, traffic, and mobility.
servers:
- url: https://api.appyway.com/v1/reference
security:
- apiKey: []
- oAuth2: []
tags:
- name: ZoneTypes
paths:
  /fetchAllZoneTypes:
    post:
      tags:
      - ZoneTypes
      summary: AppyWay Fetch All Zone Types
      description: Returns a list with all the zone types.
      operationId: post-fetchallzonetypes
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZoneTypeIReadOnlyCollectionOkResponse'
              example:
                success: true
                result:
                - id: 0
                  code: string
                  name: string
                  description: string
                  canHaveRestrictions: true
                  canHaveShape: true
        '304':
          description: Not Modified
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
components:
  responses:
    Forbidden:
      description: Forbidden
    TooManyRequests:
      description: Too many requests
    Unauthorized:
      description: Unauthorized
  schemas:
    ZoneTypeIReadOnlyCollectionOkResponse:
      type: object
      properties:
        success:
          type: boolean
          readOnly: true
        result:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ZoneType'
      additionalProperties: false
    ZoneType:
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier
          format: int32
        code:
          type:
          - string
          - 'null'
          description: Code
        name:
          type:
          - string
          - 'null'
          description: Name
        description:
          type:
          - string
          - 'null'
          description: Description
        canHaveRestrictions:
          type: boolean
          description: Indicates whether zones of this type can have default restrictions
        canHaveShape:
          type: boolean
          description: Indicates whether zones of this type can have a shape
      additionalProperties: false
  securitySchemes:
    apiKey:
      name: API-KEY
      in: header
      type: apiKey
    oAuth2:
      flows:
        authorizationCode:
          scopes: {}
          authorizationUrl: https://auth.appyway.com/authorize
          tokenUrl: https://auth.appyway.com/oauth/token
      type: oauth2
