openapi: 3.0.1
info:
  title: AppyWay Availability RealTime ActivityTypes RestrictionTypes API
  version: '1.0'
  description: AppyWay Availability RealTime API allows businesses to access real-time data on parking availability, traffic congestion, and road closure information. This API provides up-to-the-minute updates on parking spots, helping users find and reserve parking spaces quickly and easily. By providing this information in real-time, businesses can improve customer satisfaction and reduce the frustration of searching for parking. Additionally, the API helps businesses optimize their operations by providing detailed information on traffic conditions and road closures, allowing for more efficient route planning and delivery scheduling. Overall, the AppyWay Availability RealTime API is a valuable tool for businesses looking to streamline their operations and improve the customer experience.
servers:
- url: https://api.appyway.com/v1/availability-realtime
security:
- apiKey: []
- oAuth2: []
tags:
- name: RestrictionTypes
paths:
  /fetchAllRestrictionTypes:
    post:
      tags:
      - RestrictionTypes
      summary: AppyWay Fetch All Restriction Types
      description: Returns a list with all the restriction types.
      operationId: post-fetchallrestrictiontypes
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestrictionTypeIReadOnlyCollectionOkResponse'
              example:
                success: true
                result:
                - id: 0
                  name: string
                  description: string
                  code: string
                  canHaveNoLoadingRules: true
                  canHaveTariff: true
                  canHaveEmptyEntitlements: true
                  defaultWidth: 0
                  isTroItem: true
                  legalName: string
                  hasBayCount: true
        '304':
          description: Not Modified
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
components:
  responses:
    TooManyRequests:
      description: Too many requests
    Forbidden:
      description: Forbidden
    Unauthorized:
      description: Unauthorized
  schemas:
    RestrictionTypeIReadOnlyCollectionOkResponse:
      type: object
      properties:
        success:
          type: boolean
          readOnly: true
        result:
          type: array
          items:
            $ref: '#/components/schemas/RestrictionType'
          nullable: true
      additionalProperties: false
    RestrictionType:
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier
          format: int32
        name:
          type: string
          description: Name
          nullable: true
        description:
          type: string
          description: Description
          nullable: true
        code:
          type: string
          description: Shorthand code that represents this entitlement.
          nullable: true
        canHaveNoLoadingRules:
          type: boolean
          description: Indicates whether there could be a loading rule attached to this restriction type
        canHaveTariff:
          type: boolean
          description: Indicates whether there could be a tariff attached to this restriction type
        canHaveEmptyEntitlements:
          type: boolean
          description: Indicates whether there could be empty entitlements attached to this restriction type
        defaultWidth:
          type: number
          description: Indicates the default width of this restriction type in meters.
          format: double
        isTroItem:
          type: boolean
          description: Indicates that this restriction type is classed as part of Traffic Regulation Orders.
        legalName:
          type: string
          description: The restriction type's alternative name used on legal traffic order documents.
          nullable: true
        hasBayCount:
          type: boolean
      additionalProperties: false
  securitySchemes:
    apiKey:
      name: API-KEY
      in: header
      type: apiKey
    oAuth2:
      flows:
        authorizationCode:
          scopes: {}
          authorizationUrl: https://auth.appyway.com/authorize
          tokenUrl: https://auth.appyway.com/oauth/token
      type: oauth2
