openapi: 3.2.0
info:
  title: AppyWay Platform Moving Exception Types API
  version: '1.0'
  description: AppyWay Platform API allows developers to access a wide range of data related to parking, traffic, and mobility.
servers:
- url: https://api.appyway.com/v1/reference
security:
- apiKey: []
- oAuth2: []
tags:
- name: MovingExceptionTypes
paths:
  /fetchAllMovingExceptionTypes:
    post:
      tags:
      - MovingExceptionTypes
      summary: AppyWay Fetch All Moving Exception Types
      description: Returns a list with all the moving exception types.
      operationId: post-fetchallmovingexceptiontypes
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MovingExceptionTypeIReadOnlyCollectionOkResponse'
              example:
                success: true
                result:
                - id: 0
                  name: string
                  description: string
                  applicableRestrictionTypes:
                  - movingRestrictionTypeId: 0
                    movingRestrictionTypeOptionIds:
                    - 0
        '304':
          description: Not Modified
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
components:
  schemas:
    MovingExceptionTypeIReadOnlyCollectionOkResponse:
      type: object
      properties:
        success:
          type: boolean
          readOnly: true
        result:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MovingExceptionType'
      additionalProperties: false
    MovingExceptionType:
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier
          format: int32
        name:
          type:
          - string
          - 'null'
          description: Name
        description:
          type:
          - string
          - 'null'
          description: Description
        applicableRestrictionTypes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ApplicableRestrictionType'
          description: Applicable restriction types
      additionalProperties: false
    ApplicableRestrictionType:
      type: object
      properties:
        movingRestrictionTypeId:
          type: integer
          description: Id of the moving restriction type this exception type is applicable to
          format: int32
        movingRestrictionTypeOptionIds:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int32
          description: Moving restriction option ids
      additionalProperties: false
  responses:
    Forbidden:
      description: Forbidden
    TooManyRequests:
      description: Too many requests
    Unauthorized:
      description: Unauthorized
  securitySchemes:
    apiKey:
      name: API-KEY
      in: header
      type: apiKey
    oAuth2:
      flows:
        authorizationCode:
          scopes: {}
          authorizationUrl: https://auth.appyway.com/authorize
          tokenUrl: https://auth.appyway.com/oauth/token
      type: oauth2
