openapi: 3.2.0
info:
  title: AppyWay Platform Facility Types API
  version: '1.0'
  description: AppyWay Platform API allows developers to access a wide range of data related to parking, traffic, and mobility.
servers:
- url: https://api.appyway.com/v1/reference
security:
- apiKey: []
- oAuth2: []
tags:
- name: FacilityTypes
paths:
  /fetchAllFacilityTypes:
    post:
      tags:
      - FacilityTypes
      summary: AppyWay Fetch All Facility Types
      description: Returns a list with all the facility types.
      operationId: post-fetchallfacilitytypes
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FacilityTypeIReadOnlyCollectionOkResponse'
              example:
                success: true
                result:
                - id: 0
                  name: string
                  description: string
        '304':
          description: Not Modified
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
components:
  responses:
    Forbidden:
      description: Forbidden
    TooManyRequests:
      description: Too many requests
    Unauthorized:
      description: Unauthorized
  schemas:
    FacilityTypeIReadOnlyCollectionOkResponse:
      type: object
      properties:
        success:
          type: boolean
          readOnly: true
        result:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/FacilityType'
      additionalProperties: false
    FacilityType:
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier
          format: int32
        name:
          type:
          - string
          - 'null'
          description: Name
        description:
          type:
          - string
          - 'null'
          description: Description
      additionalProperties: false
      description: Indicates a facility that is available at an OSP
  securitySchemes:
    apiKey:
      name: API-KEY
      in: header
      type: apiKey
    oAuth2:
      flows:
        authorizationCode:
          scopes: {}
          authorizationUrl: https://auth.appyway.com/authorize
          tokenUrl: https://auth.appyway.com/oauth/token
      type: oauth2
